<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor-90">
    <h1 class="align-left">Te entendemos, no te
preocupes</h1>
    <p class="align-left">Cuando vuelvas a entrar a la App vas a encontrarte con una pantalla para recordarte esto y así poder continuar con el proceso desde acá. Vamos a estar esperándote.

    </p>
  
  
</div>
<div class="onboarding-btn-group">

  <div class="btn-round activo" (click)="ValidarIdentidad()">
    Ya puedo sacar las fotos
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.3"></ion-progress-bar>
</ion-footer>
