<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="transferencias">
  <div class="contenedor-90 align-center">
    <h1>Vas a Transferir </h1>
    <h2 class="monto full">$ {{monto}}</h2>
    <p>A esta persona:</p>
    <!-- Modulo Destinatario Seleccionado -->
    <div class="destinatario-seleccionado">
      <img src="../../assets/img/transferencia/edit.svg" alt="Editar" class="edit-icon" (click)="editarDestinatario()">
      <div class="avatar-wrapper">
        <div class="avatar">{{inciales()}}</div>
      </div>
      <div class="info-resultado">
        <h4 class="nombre">{{libs.capitalize(destinatario.nombre)}} {{libs.capitalize(destinatario.apellido)}}</h4>
        <span class="banco">{{destinatario.banco}}</span>
        <span class="cbu" *ngIf="destinatario.cbu!='' && destinatario.cbu!=null">CBU: {{destinatario.cbu}}</span>
        <span class="cbu" *ngIf="destinatario.cvu!='' && destinatario.cvu!=null  ">CVU: {{destinatario.cvu}}</span>
        <span class="cbu" *ngIf="destinatario.alias!='' && destinatario.alias!=null">ALIAS: {{destinatario.alias}}</span>
      </div>
    </div>
    <!-- Modulo de campos completados -->
    <div class="campos-completados">
      <img src="../../assets/img/transferencia/edit.svg" alt="Editar" class="edit-icon" (click)="editarCampos()">
      <h4 class="motivo">{{motivo}}</h4>
      <p class="mensaje">{{mensaje}}</p>
      <span class="email">{{destinatario.email}}</span>
    </div>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Continuar()">Continuar</div>

  </div>
  <div class="preloader" *ngIf="cargando">
    <img src="assets/img/preloader.gif" alt="Cargando...">
  </div>
</ion-content>
