ion-item{
    width: 100%;
}

.input .centrado{
text-align:  center;
}
ion-button{
    width: 98%;
    height: 78%;
}
ngx-qrcode{
    text-align: center;
}
h3{
    font-size: inherit !important;
    font-family: sans-serif !important;
}
.button{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}