<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content class="centrado transferencias">
  <div class="imagen">
    <img src="../../assets/icon/error.svg" alt="Operación no realizada">
  </div>
  <div class="contenedor-90 align-center">
    <h1 *ngIf="denegado=='false'" class="align-center">¡Hubo un error!</h1>
    <h1 *ngIf="denegado=='true'" class="align-center">{{descripcion}}</h1>
    <!-- <p class="align-center full">(Error de comunicación / falta de fondos / etc.) Invitar al usuario que invite a un
      amigo para que use la billetera virtual o que lo vuelva a reintentar</p> -->
      <p class="align-center full">{{mensaje}}</p>
  </div>
  <div class="onboarding-btn-group">
    <a *ngIf="url" (click)="reintentar()" class="link">Reintentar</a>
    <div class="btn-round activo" (click)="finalizar()">
      Terminar
    </div>
    <!-- <a (click)="otrocall()" class="link">Reintentar</a> -->
  </div>

</ion-content>
