<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="/cuentacreada" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content center>
  <div class="contenedor-90">
    <h1 class="align-left">
      ¿Cumplís con alguna de
      estas condiciones?
    </h1>
    <p class="align-left"> No te preocupes, es confidencial pero te pedimos que contestes con datos reales. Queremos que tu experiencia con nosotros sea realmente efectiva, como nuestro nombre.</p>
    <div class="form">
        <h2 class="full">¿Sos una persona políticamente expuesta?</h2>
      <ion-list checkbox-group class="checkbox-group-horizontal">
            <ion-checkbox slot="start"  [(ngModel)]="form.pe_no" (ngModelChange)="validar_grupo(1,1)" value="No"></ion-checkbox>
            <ion-label>No</ion-label> 
            <ion-checkbox slot="start" [(ngModel)]="form.pe_si"  (ngModelChange)="validar_grupo(1,2)" value="Si"></ion-checkbox>
            <ion-label>Si</ion-label> 
      </ion-list>
      <h2 class="full">¿Sos sujeto obligado?</h2>
      <ion-list checkbox-group class="checkbox-group-horizontal">
            <ion-checkbox slot="start"  [(ngModel)]="form.so_no" (ngModelChange)="validar_grupo(2,1)" value="No"></ion-checkbox>
            <ion-label>No</ion-label> 
            <ion-checkbox slot="start"  [(ngModel)]="form.so_si" (ngModelChange)="validar_grupo(2,2)" value="Si"></ion-checkbox>
            <ion-label>Si</ion-label> 
      </ion-list>
      <h2 class="full">¿Estás alcanzado por la ley FATCA?</h2>
      <ion-list checkbox-group class="checkbox-group-horizontal">
            <ion-checkbox slot="start" [(ngModel)]="form.fat_no" (ngModelChange)="validar_grupo(3,1)" value="No"></ion-checkbox>
            <ion-label>No</ion-label> 
            <ion-checkbox slot="start"  [(ngModel)]="form.fat_si" (ngModelChange)="validar_grupo(3,2)" value="Si"></ion-checkbox>
            <ion-label>Si</ion-label> 
      </ion-list>       
    </div>
   
  </div>
  <div class="onboarding-btn-group">
    <a (click)="Popup()"class="link">¿Qué son estas preguntas?</a>
    <div class="btn-round inactivo" *ngIf="!form.grupo1 || !form.grupo2 || !form.grupo3 ">
      
      Continuar
    </div>
    <div class="btn-round activo" *ngIf="form.grupo1 && form.grupo2 && form.grupo3 " (click)="Continuar()">
      
      Continuar
    </div>
  </div> 
 
</ion-content>
<ion-footer>
   <ion-progress-bar color="primary" value="0.3"></ion-progress-bar>
</ion-footer>