h1 {
    margin: 0;
}
app-error,app-success{
    height: 100vh;
    z-index: 999;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
}
.amigos-seleccionados-grid
{
    flex-direction: column;
    width: 100% !important;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    .amigo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 15px 0;
        text-align: center;
        place-items: center;
        .avatar{
            text-transform: capitalize;
        }
    }
}