<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pedir">Pedir a un amigo</ion-title>
    <ion-title *ngIf="enviar">Enviar a un amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90 align-center">
    <h1 *ngIf="pedir">Vas a solicitar </h1>
    <h1 *ngIf="enviar">Vas a enviar </h1>
    <h2 class="monto full">$ {{monto}}</h2>
    <p>A estos amigos:</p>
    <div class="amigos-seleccionados-grid" >
      <div class="amigo" *ngFor="let item of amigos">
        <div class="avatar">
          {{item.iniciales}}
        </div>
        <div class="nombre">
          {{item.nombre}}
        </div>
      </div>
     
    <h2 class="full align-center mt-10">{{referencia}}</h2>
    </div>
   
  </div>
  <div class="onboarding-btn-group">
    <a (click)="Modificar()" class="link">Modificar</a>
    <div class="btn-round activo" (click)="Continuar()">Continuar</div>
    
  </div>
  <div class="preloader" *ngIf="cargando">
    <img src="assets/img/preloader.gif" alt="Cargando...">
  </div>
</ion-content>
