.lista-ultimos-movimientos{
    // height: 100%;
}
.circulo{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
}
.rojo{
    background-color: #ea5a6c;
}
.gris{
    background-color: lightgrey;
}
.movimiento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.red{
    color: #ea5a6c;
    font-weight: 800;
    font-size: 0.8rem;
}
.bold > h4{
    font-weight: 800;
    color: black;
}
.fecha{
    font-size: 70%;
    color: #9a9a9a;
    margin: 0;
    padding: 0;
}