<ion-header class="ion-no-border">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/lostpassword-ayuda-confirm.svg" alt="">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">¡Tu comentario
ya está en camino!</h1>
    <p class="align-center">En breve te contactaremos por mail para ayudarte a solucionar este problema. 
      Por las dudas, recordá revisar la carpeta de spam.
      
</p>
    <p class="align-center">¡Nos vemos pronto!</p>
  
  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Inicio()">
    Finalizar
  </div>
</div>
</ion-content>

