<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394225840157-j173725i413hpeilnfjoid0sfvrt01nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394225840157-j173725i413hpeilnfjoid0sfvrt01nm</string>
	<key>API_KEY</key>
	<string>AIzaSyBM0Iz1UzO15ky_mhnUsfSIPyy66J1S6RI</string>
	<key>GCM_SENDER_ID</key>
	<string>394225840157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efectivodigital.com.ar</string>
	<key>PROJECT_ID</key>
	<string>efectivo-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>efectivo-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394225840157:ios:3fec6c7fd43e12e6db96f4</string>
</dict>
</plist>