<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="contenedor-90">
    <h1>Historial de movimientos</h1>
    <p>Acá podes ver todos los movimientos de tu cuenta.</p>
    <div class="lista-ultimos-movimientos mt-10" *ngIf="items">
        <ion-refresher [class]="class_refresher" slot="fixed" (ionStart)="mostrar($event)"
          (ionRefresh)="refresh($event)">
          <ion-refresher-content refreshingText="Recargando..." refreshingSpinner="bubbles">
          </ion-refresher-content>
        </ion-refresher>
        <div class="movimientos-wrapper">
          <div class="movimiento" *ngFor="let item of items">
            <div class="imagen">
              <img src="assets/img/mov-recibiste.svg" alt="Recibiste" *ngIf="item.id_tipo_trans=='2'">
              <img src="assets/img/mov-retiro.svg" alt="Recibiste" *ngIf="item.id_tipo_trans=='1'">
              <img src="assets/img/mov-pago.svg" alt="Pagaste" *ngIf="item.tipo=='3'">
            </div>
            <div class="texto">
              <h4>{{item.titulo}}</h4>
              <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
                date:'hh:mma'}}</span>
            </div>
            <div class="monto"> ${{item.precio}} </div>
          </div>
          
        </div>
        
      
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarmas($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>