<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content center>
  <div class="contenedor-90">

    <!-- <img src="../../../../assets/Onboarding_pfpj.svg" class="image"/> -->
    <div class="imagen">
      <img src="assets/1_Bienvenida – 4.png" alt="">
    </div>
    <div class="contenedor-80">
      <h1 class="align-left">Comencemos</h1>
      <p class="align-left"> ¿Que uso tendra tu cuenta?.</p>
    </div>
    <div class="onboarding-btn-group">
        <div class="btn-round activo" (click)="validar('pf')">
          Cuenta Personal
        </div>
        <div class="btn-round inactivo" (click)="validar('pj')">
          Cuenta Empresa
        </div>
        <a (click)="Ingreso()" class="link semi-bold">Ya tengo cuenta</a>
      </div>
    </div>
</ion-content>

<ion-footer>
  <ion-progress-bar color="primary" value="0"></ion-progress-bar>
</ion-footer>
<!-- <div class="arriba" *ngIf="cargando">
  <ion-spinner name="crescent"></ion-spinner>
  <div  >
      <ion-label>Validando Datos espere...</ion-label>
  </div>
  
</div> -->