.camframe {
    margin: 0px auto;
    background: transparent;
    height: 65vh;
    width: 55vw;
    border: 2px solid #007c68;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#camera_loader {
    border-radius: 30px;
}
.overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background: transparent;
    width: 100vw;
    height: auto;
}
#cameraPreview {
    z-index: -1;
}
html, body, .ion-app, .ion-content, ion-content{
    background-color: transparent;
    background: transparent;
    --background: transparent;
  }
ion-content { --background: transparent;}

.onboarding-btn-group {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 20px;
    .btn-round.activo {
        background:rgba(0,124,104,0.5)
    }
}
h1,p {
    text-shadow: 0px 0px 3px #000000;
}