<ion-content>
  <section class="home-main">
    <div class="contenedor-90">
      <div class="user-header">
        <div class="home-header">
          <ion-menu-button color="primary" menu="menuPrincipal" type="reset"></ion-menu-button>
        </div>
        <div class="flex">
          <img src="../../../../assets/img/logo-text-negro.svg">
        </div>
      </div>
      <h2 class="ml-3">Lote de transferencias</h2>
      {{status.error}}
      <div class="contenido">
        <div class="botones">
          <div class="boton active" *ngIf="vistas['cargar']">
            <span (click)="cambiar('cargar')">Carga de archivo</span>
          </div>
          <div class="boton" *ngIf="!vistas['cargar']">
            <span (click)="cambiar('cargar')">Carga de archivo</span>
          </div>
          <div class="boton active" *ngIf="vistas['transferencias']">
            <span (click)="cambiar('transferencias')">Transferencias</span>
          </div>
          <div class="boton" *ngIf="!vistas['transferencias']">
            <span (click)="cambiar('transferencias')">Transferencias</span>
          </div>
        </div>
        <div class="oscurecido" *ngIf="vistas['cargar'] && !status.operationInProgress && mensaje==''">
          <h4 class="center">¿Necesitas realizar un lote de transferencias?</h4>
          <div class="subir-archivos" id="holder" #holder>
            <div class="txt-subir-archivos">
              <div class="icono-subir">
                <div id="iconexcel" #iconexcel class="archivo-no-cargado">
                </div>
              </div>
              <div class="txt-subir" #txtsubir>Subir archivo de Debitos</div>
              <label><span class="box__dragndrop" #box> o Arrastrelo aqui.</span>.</label>
            </div>
            <input type="file" class="carga-file" #archivo id="archivo" style="display: inherit!important"
              (change)="change($event)">
            <div type="" class="btn-round activo">Examinar</div>
          </div>
          <div>
            <div class="row">
              <div>
                <div type="" class="btn-round outline">Descargar archivo modelo</div>
              </div>
              <div>
                <div type="" class="btn-round activo" (click)="continuar()">Continuar</div>
              </div>

            </div>
          </div>
        </div>
        <div class="oscurecido" *ngIf="vistas['transferencias'] && !status.operationInProgress && mensaje==''">
          <div class="filtros">
            <div class="filtro">
              <div>
                <span>Fecha</span>
              </div>
              <div>
                <input type="date" placeholder="desde" class="fecha">
                <input type="date" placeholder="hasta" class="fecha">
              </div>
            </div>
            <div class="filtro">
              <span>Nombre de Archivo</span>
              <input type="text" placeholder="Archivo">
            </div>
            <div class="filtro">
              <span>Estado</span>
              <select>
                <option>Activo</option>
                <option>Inactivo</option>
                <option>Pendiente</option>
                <option>Rechazado</option>
              </select>
            </div>
          </div>
          <div class="row izquierda">
            <div>
              <div type="" class="btn-round outline">limpiar</div>
            </div>
            <div>
              <div type="" class="btn-round activo">Continuar</div>
            </div>

          </div>
          <div class="table">
            <div class="thead">
              <div class="tr">
                <div><input type="checkbox"></div>
                <div>Fecha</div>
                <div>Nombre del archivo</div>
                <div>ID_transferencia</div>
                <div>Estado</div>
                <div></div>
              </div>
              <div></div>
            </div>
            <div class="tbody" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
              <!--ACA VA EL FOR-->
              <div class="tr">
                <div><input type="checkbox"></div>
                <div>10/11/2021</div>
                <div>Pago a proveedores</div>
                <div>00001</div>
                <div class="aprobado" *ngIf="false">Aprobada</div>
                <div class="rechazada" *ngIf="true">Rechazada</div>
                <div class="pendiente" *ngIf="false">Pendiente</div>
                <div><a>Descargar</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="oscurecido" *ngIf="mensaje!=''">
          <h4 class="center">{{mensaje}}</h4>
        </div>
        <div class="oscurecido" *ngIf="status.operationInProgress && mensaje==''">
          <h4 class="center">Procesando transferencias {{status.porcentaje}}%</h4>
          <ion-progress-bar [value]="status.porcentaje/100"></ion-progress-bar>
        </div>
      
        
        <div class="oscurecido" *ngIf="!status.operationInProgress && transferencias_erroneas.length>0">
          <h4 class="center">Transferencias con error {{(transferencias_erroneas.length*100)/fileLength}}%</h4>
          <div class="table">
            <div class="thead">
              <div class="tr">
                <div>Nombre</div>
                <div>Apellido</div>
                <div>CUIL/CUIT</div>
                <div>Clave Bancaria</div>
                <div>Importe</div>
                <div>Concepto</div>
                <div>Estado</div>
              </div>
              <div></div>
            </div>
            <div class="tbody" *ngFor="let item of transferencias_erroneas">
              <!--ACA VA EL FOR-->
              <div class="tr">
                <div>{{item[posiciones.nombre]}}</div>
                <div>{{item[posiciones.apellido]}}</div>
                <div>{{item[posiciones.cuil]}}</div>
                <div *ngIf="item[posiciones.cbu]">{{item[posiciones.cbu]}}</div>
                <div *ngIf="item[posiciones.cvu]">{{item[posiciones.cvu]}}</div>
                <div *ngIf="item[posiciones.alias]">{{item[posiciones.alias]}}</div>
                <div>{{item[posiciones.importe]}}</div>
                <div>{{item[posiciones.concepto]}}</div>

                <div class="aprobado" *ngIf="item.status==1">Aprobada</div>
                <div class="rechazada" *ngIf="item.status==0">Rechazada</div>
                <!-- <div class="pendiente" *ngIf="false">Pendiente</div> -->
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</ion-content>