<ion-header>
  <ion-toolbar>
   <ion-title>Recuperar Contraseña</ion-title>
   <ion-buttons slot="start" class="absolute">
    <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="contenedor-90">
    <h1 class="align-left">¡Tranqui, nada está perdido!</h1>
    <p class="align-left">Si olvidaste tu contraseña, te vamos a enviar un código para que puedas restablecerla rápidamente.
    </p>
    <h2 class="pt-10">¿Cómo querés recibirlo? <br>
    Elegí una de las 2 opciones</h2>
    <div class="option-round full space-between" id="mail" (click)="SeleccionadoMail()">
      <div class="align-center">
        <ion-icon [name]="ToggleIconMail" style="padding-right: 5px;"></ion-icon>Mail 
      </div>
      <!-- <span class="mail">bxxx@gmail.com</span> -->
      <span class="mail">{{ofuscar(usuario)}}</span>
    </div>
    <div class="option-round full space-between"  id="telefono" (click)="SeleccionadoTel()">
      <div class="align-center">
        <ion-icon [name]="ToggleIconTel" style="padding-right: 5px;"></ion-icon>SMS 
      </div>
      <span class="telefono">{{telefono}}</span>
    </div>
  </div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="EnviarCodigo()" *ngIf="selectTel || selectmail">
    Envíenme el código
  </div>
  <div class="btn-round inactivo"  *ngIf="!selectTel && !selectmail">
    Envíenme el código
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.1"></ion-progress-bar>
</ion-footer>
