<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    Queremos ayudarte a 
solucionar el problema
      </h1>
  <p class="align-left">Y para eso te vamos a pedir que nos dejes tus datos y tu inquietud para que nuestro servicio de atención al cliente te contacte. Vamos a resolver esto. 
  </p>
  <div class="form">
    <ion-item class="input-container">
      <ion-label position="floating">Escribí tu nombre y apellido</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
      <ion-icon slot="end" name="close-sharp" color="danger" *ngIf="nombre && nombre==''"></ion-icon>
      <ion-icon slot="end" name="checkmark-sharp" color="success" *ngIf="nombre && nombre!=''"></ion-icon >
    </ion-item>
    <div class="validationMsg" *ngIf="nombre!=null && (!nombre || nombre.toString().length==0) ">
      <div class="msg full danger" color="danger">
        Necesitamos que completes este campo.
      </div>
    </div>
    <ion-item class="input-container">
      <ion-label position="floating">Ingresá tu mail</ion-label>
      <ion-input [(ngModel)]="email" (change)="valida_mail()"  type="email"></ion-input>
      <ion-icon slot="end" name="close-sharp" color="danger" *ngIf="email && error_mail!=null && error_mail"></ion-icon>
      <ion-icon slot="end" name="checkmark-sharp" color="success" *ngIf="email && error_mail!=null && !error_mail"></ion-icon >
    </ion-item>
    <div class="validationMsg">
      <div class="msg full danger" color="danger" *ngIf="email!=null && (!email || email.toString().length==0) && error_mail" >
        Ingresá un e-mail válido.
      </div>
    </div>
    <ion-item class="input-container">
      <ion-label position="floating">Dejanos tu mensaje</ion-label>
      <ion-textarea [(ngModel)]="mensaje" rows="4" cols="15"></ion-textarea>
      
    </ion-item>
  </div>  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Confirmar()" *ngIf="!error_mail && nombre && mensaje">
    Enviar mensaje
  </div>
  <div class="btn-round inactivo" *ngIf="error_mail || !nombre || !mensaje">
    Enviar mensaje
  </div>
</div>
<div class="preloader" *ngIf="cargando">
  <img src="assets/img/preloader.gif" alt="Cargando...">
</div>
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
</ion-footer>