<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedir a un amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>¡A sumar amigos a tu lista!</h1>
    <p>Elegí si querés añadirlos a través de su correo electrónico o su número de celular.
    </p>
    <div class="switch-container">
      <div class="switch-button activo">Mail</div>
      <div class="switch-button inactivo">Celular</div>
    </div> 
    <!-- Modulo Buscar por mail / celular cambia el h2 según el tipo -->
    <div class="mail">
       <h2 class="full">Escribí el mail de la persona que querés agregar</h2>
    <ion-item class="input-container full">
      <ion-input type="text"><ion-icon name="search-outline"></ion-icon></ion-input>
    </ion-item>
    </div>
    <div class="validationMsg">
      <div class="msg full danger" color="danger">El mail está mal escrito. No te preocupes, puede pasar. 
        <br>Revisalo y volvé a intentarlo. 
        
      </div>
    </div>
   
  </div>
  <div class="onboarding-btn-group">
    
    <div (click)="ContinuarBuscar()" class="btn-round activo">Buscar</div>
    <a (click)="IrAtras()" class="link">Volver a la lista de amigos</a>
  </div>
</ion-content>