<ion-header>
  <ion-toolbar>
    <ion-title>Terminos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-90 pt-5 popup">
    <p class="c0"><span class="c5 c9">EFECTIVO DIGITAL S.R.L.</span></p>
    <p class="c0"><span>T&eacute;rminos y condiciones de uso de la plataforma y de la aplicaci&oacute;n </span><span
        class="c6">&ldquo;Efectivo Digital&rdquo;.</span><span>&nbsp;Los presentes T&eacute;rminos y Condiciones (en
        adelante, &ldquo;TyC&rdquo;) constituyen un contrato (en adelante el &ldquo;Contrato&rdquo;) entre el
        solicitante pudiendo ser Persona Humana o Jur&iacute;dica (en adelante, el &ldquo;Usuario&rdquo;) y Efectivo
        Digital S.R.L. (en adelante, &ldquo;</span><span class="c6">ED</span><span>&rdquo; y, en su conjunto, las
        &ldquo;Partes&rdquo;), respecto del uso del servicio de la plataforma y de la aplicaci&oacute;n Efectivo
        Digital (en adelante, la &ldquo;</span><span class="c6">Billetera</span><span class="c1">&rdquo;). Excepto
        en caso de que resulten expresamente aplicables otros TyC especiales, los TyC regir&aacute;n los derechos y
        obligaciones de las Partes respecto de cualquier producto y/o servicio ofrecido a trav&eacute;s de la
        Billetera (en adelante, los &ldquo;Servicios&rdquo;). El Usuario se compromete a leer, comprender y aceptar
        todas las condiciones establecidas en estos TyC y dem&aacute;s pol&iacute;ticas y principios incorporados a
        las mismas, al momento de solicitud de su registro como Usuario de la Billetera. En caso de no encontrarse
        de acuerdo con los TyC , por favor, abst&eacute;ngase de utilizar los Servicios. Los presentes TyC se
        considerar&aacute;n aceptados desde el momento en el que el registro sea aprobado por ED, de acuerdo a las
        Pol&iacute;ticas de Alta del Usuario. Cualquier persona que no acepte estos TyC, las cuales tiene un
        car&aacute;cter obligatorio y vinculante, deber&aacute; abstenerse de utilizar la Billetera y/o los
        Servicios. En cualquier caso, la utilizaci&oacute;n de los Servicios implica la aceptaci&oacute;n por parte
        del Usuario de estos TyC. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c13 c10 c6">1. OBJETO. </span></p>
    <p class="c0"><span class="c1">La Billetera permite al Usuario administrar y supervisar los Servicios de ED, entre
        los cuales se encuentran, a t&iacute;tulo enunciativo: &#9679; solicitar el alta de una o m&aacute;s Cuentas
        ED (en adelante, la &ldquo;Cuenta ED&rdquo;); &#9679; ED permitir&aacute; la apertura de dos (2) tipos de
        Cuentas ED: (i) Cuenta ED Usuario, disponible por defecto para cualquier persona que se registre en ED,
        siempre que se cumplan los requerimientos correspondientes; y (ii) Cuenta ED Comercial, la cual s&oacute;lo
        podr&aacute; obtenerse con ciertas validaciones requeridas por ED, o por detectarse un uso comercial de la
        billetera. &#9679; solicitar la emisi&oacute;n de la tarjeta prepaga ED (en adelante, las &ldquo;Tarjetas
        ED&rdquo;); &#9679; Identificarse con una Clave Virtual Uniforme (&ldquo;CVU&rdquo;), proporcionada por ED
        al Usuario que vincula la cuenta con el circuito financiero argentino &#9679; realizar recargas, pagos,
        extracciones, solicitud de adelantos y dem&aacute;s transacciones que impliquen movimientos de fondos con
        relaci&oacute;n al uso de las Tarjetas ED y/o las Cuenta ED; &#9679; monitorear los pagos realizados a
        trav&eacute;s de la Billetera y/o con las Tarjetas ED de titularidad del Usuario; &#9679; recibir pagos o
        transferencias de dinero desde cuentas propias bancarias, de billeteras virtuales, de otras cuentas de
        Usuarios ED o de cuentas bancarias de terceros; &#9679; realizar pagos o transferencias de dinero hacia
        cuentas de Usuarios ED, hacia otras cuentas bancarias o billeteras virtuales, usando la CVU &#9679;
        suspender transitoriamente, solicitar nuevos pl&aacute;sticos o dar de baja las Tarjetas ED del Usuario o el
        registro como Usuario y/o de las cuentas ED; &#9679; efectuar transferencias de dinero a otros usuarios, a
        billeteras virtuales y a cuentas bancarias mediante el uso de dispositivos de titularidad del Usuario;
        &#9679; realizar el pago de facturas o recargas de los servicios habilitados en la Billetera; &#9679;
        solicitar y obtener pr&eacute;stamos personales con entidades habilitadas (que tengan convenio con ED) y
        realizar el repago de los mismos; &#9679; mantener conversaciones a trav&eacute;s de mensajer&iacute;a
        instant&aacute;nea con el servicio de atenci&oacute;n a usuarios y con otros usuarios; &#9679; realizar
        inversiones en Fondos Comunes de Inversi&oacute;n; &#9679; y todos los dem&aacute;s servicios que
        oportunamente ofrezca ED a trav&eacute;s de la Billetera. ED no estar&aacute; obligada a efectuar las
        operaciones solicitadas por el Usuario cuando la Cuenta ED o la Tarjeta ED asociada no cuente con los fondos
        suficientes para ello. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c10 c6 c13">2. COMUNICACIONES. </span></p>
    <p class="c0"><span class="c1">Todas las comunicaciones que se cursen al Usuario, incluyendo sin limitaci&oacute;n,
        las que dispongan cambios en las condiciones establecidas en los presentes y toda otra condici&oacute;n
        aplicable sobre los Servicios, ser&aacute;n cursadas &uacute;nicamente a trav&eacute;s de la Billetera y/o
        al correo electr&oacute;nico y/o tel&eacute;fono celular indicado por el Usuario al momento de registrarse.
        Las comunicaciones que el Usuario curse a ED deber&aacute;n canalizarse a trav&eacute;s del servicio de
        mensajer&iacute;a de atenci&oacute;n al cliente de la Billetera.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c13 c10 c6">3. MEDIOS DE UTILIZACI&Oacute;N. </span></p>
    <p class="c0"><span class="c1">Los Servicios son prestados a trav&eacute;s de Internet por medio de la Billetera,
        mediante el uso de computadoras y/o dispositivos m&oacute;viles de titularidad del Usuario, y con la
        participaci&oacute;n de terceros prestadores de servicios complementarios como, a t&iacute;tulo enunciativo,
        procesadores de pago, redes de tarjetas de cr&eacute;dito y proveedores de servicios de procesamiento
        automatizado de datos, entre otros. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c13 c10 c6">4. REQUISITOS PARA LA UTILIZACI&Oacute;N DE LA BILLETERA. </span></p>
    <p class="c0"><span class="c1">El Usuario deber&aacute; contar con una computadora y/o un dispositivo m&oacute;vil
        con acceso a Internet, haber completado el registro de usuario satisfactoriamente y ser aprobado por ED de
        acuerdo a las pol&iacute;ticas de alta de clientes. El Usuario podr&aacute; operar desde cualquier
        computadora y/o dispositivo m&oacute;vil mediante el cual haya accedido y/o descargado la Billetera
        respectivamente, luego de haber registrado dicho dispositivo en el sistema de ED por los medios previstos a
        tal fin. En los casos de utilizar la Billetera desde dispositivos m&oacute;viles, el Usuario deber&aacute;
        descargar la aplicaci&oacute;n de la Billetera desde las tiendas oficiales habilitadas para tal fin. El
        Usuario deber&aacute; generar un perfil con una contrase&ntilde;a para acceder a la Billetera (en adelante,
        la &ldquo;Cuenta de Usuario&rdquo;). Algunos Servicios disponibles a trav&eacute;s de la Billetera
        requerir&aacute;n de una segunda clave privada de seis (6) d&iacute;gitos num&eacute;ricos para la
        confirmaci&oacute;n de determinadas operaciones (en adelante, el &ldquo;TOKEN&rdquo; y, junto con la
        contrase&ntilde;a de acceso a la Billetera, el &ldquo;Login&rdquo;, y en su conjunto las
        &ldquo;Claves&rdquo;). El Usuario deber&aacute; generar el TOKEN siguiendo los pasos establecidos por ED a
        trav&eacute;s de la Billetera, y ser&aacute; el &uacute;nico y exclusivo responsable de la confidencialidad
        de sus Claves, as&iacute; como tambi&eacute;n de todas las operaciones y/o actividades llevadas a cabo con
        las Claves y la Cuenta de Usuario, liberando de responsabilidad a ED por cualquier perjuicio que pudiera
        sufrir como consecuencia de la divulgaci&oacute;n de sus Claves. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c6">5. </span><span class="c10">TRANSFERENCIAS</span><span class="c6">&nbsp;DE FONDOS
        ENVIADOS DESDE Y HACIA CUENTAS DE PAGO</span><span class="c1">. </span></p>
    <p class="c0"><span class="c1">El Usuario autoriza a ED a realizar las transferencias de fondos ordenadas por
        &eacute;ste para enviar y recibir transferencias desde y hacia cuentas de Usuarios ED, como asimismo, desde
        y hacia cuentas bancarias, cuentas de pago propias, y cuentas de pago de otros Proveedores de Servicios de
        Pagos (en adelante &ldquo;PSPs&rdquo;) usando la CVU como identificadora de clientes. Asimismo, el Usuario
        autoriza a ED a realizar la recarga de la Tarjeta ED o extracciones de dinero mediante la Tarjeta ED y/o de
        su cuenta de usuario ED desde la Billetera y a efectuar los movimientos correspondientes para el pago de los
        Servicios que el Usuario solicite, siempre de acuerdo con los topes y restricciones fijados por ED. ED no
        estar&aacute; obligada a efectuar las operaciones solicitadas por el Usuario cuando la cuenta asociada al
        Usuario ED no cuente con los fondos suficientes para ello. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">Una vez que los fondos est&eacute;n acreditados y disponibles en su Cuenta ED, el
        Usuario podr&aacute; (i) mantener los fondos en su Cuenta ED para utilizarlos en otra oportunidad; o (ii)
        realizar fondeos de cuentas o fondos de inversi&oacute;n, seg&uacute;n el perfil de usuario asignado por ED,
        o (iii) retirar y/o utilizar sus saldos disponibles aplic&aacute;ndolos &nbsp;a: (a) el pago de bienes o
        servicios mediante transacciones, (b) transferencias a otras cuentas ED de titularidad de terceros, (c)
        transferencias a cuentas bancarias propias o de terceros,(d) transferencias a otras cuentas virtuales
        propias o de terceros, (e) retiros de fondos a trav&eacute;s de redes de &quot;Cash out&quot;, y/o (f)
        retiros en efectivo por cajeros autom&aacute;ticos utilizando la tarjeta ED u otros medios disponibles.
      </span></p>
    <p class="c0"><span class="c1">El Usuario reconoce y acepta que: (a) el retiro de los fondos quedar&aacute;
        supeditado al previo pago de cualquier deuda que el Usuario mantuviera con ED, cualquiera fuera su causa, y
        (b) solamente los Usuarios que residan en Argentina estar&aacute;n habilitados para retirar fondos de
        ED.</span></p>
    <p class="c0"><span class="c1">Los retiros a cuentas bancarias que no sean de titularidad del Usuario que solicite
        el retiro s&oacute;lo podr&aacute;n realizarse hasta alcanzar la suma total acumulada peri&oacute;dica
        seg&uacute;n perfil de usuario de Pesos cincuenta mil ($50.000).</span></p>
    <p class="c0"><span class="c1">Dicha transferencia bancaria ser&aacute; ordenada por ED de manera inmediata luego de
        recibida la solicitud del retiro de los fondos por el Usuario. Para la realizaci&oacute;n de la
        transferencia se utilizar&aacute;n los canales m&aacute;s eficientes que se encuentren disponibles para
        transferencias de fondos en el sistema de pagos minorista. Cualquier gasto originado por la transferencia
        estar&aacute; a cargo del Usuario.</span></p>
    <p class="c0"><span class="c1">Por razones de seguridad, ED podr&aacute; bloquear los retiros y/o extracciones de
        fondos solicitados por aquellos Usuarios que en el &uacute;ltimo tiempo hayan recibido un porcentaje elevado
        de Reclamos y Disputas y/o se haya detectado y/o haya fuertes indicios o sospechas de que los mismos han
        utilizado los Servicios de ED para realizar actividades fraudulentas, il&iacute;citas y/o en contra de los
        TyC y/o sospechas de violaci&oacute;n de preceptos legales por los cuales ED deba responder.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">6. VALIDEZ.</span></p>
    <p class="c0"><span class="c1">&nbsp;Las transacciones ordenadas por el Usuario &uacute;nicamente tendr&aacute;n
        validez en aquellos casos en los que el Usuario utilice los medios espec&iacute;ficamente determinados por
        ED al efecto. No tendr&aacute;n validez alguna las instrucciones formuladas a trav&eacute;s de cualquier
        otro medio distinto de los que ED determine espec&iacute;ficamente a trav&eacute;s de la Billetera. Toda
        transacci&oacute;n que se efect&uacute;e desde la Billetera mediante la Cuenta de Usuario se
        entender&aacute; realizada personalmente por el Usuario, consider&aacute;ndose las mismas como
        v&aacute;lidas, leg&iacute;timas, aut&eacute;nticas y vinculantes, sin necesidad de realizar otro tipo de
        confirmaci&oacute;n. ED podr&aacute; utilizar sistemas aptos para acreditar la pertenencia de las
        transacciones cursadas, y asimismo declara que aplicar&aacute; sus mejores esfuerzos y las mejores
        pr&aacute;cticas exigidas por la industria a fin de garantizar la seguridad inform&aacute;tica de los
        sistemas y registros empleados.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">7. FECHA DE LAS OPERACIONES </span></p>
    <p class="c0"><span class="c1">Todas las operaciones efectuadas por el Usuario ser&aacute;n registradas en la fecha
        y horario en que efectivamente se cursen. En ciertos casos, la fecha u horario de registro de la
        operaci&oacute;n podr&aacute; ser posterior al momento en que se haya solicitado su ejecuci&oacute;n,
        dependiendo del tipo de operaci&oacute;n. Asimismo, el registro de la fecha y horario de las operaciones de
        recarga y extracci&oacute;n de dinero pueden encontrarse sujetas a condiciones adicionales por parte de cada
        tercero prestador de servicios. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">8. RESPONSABILIDAD POR LOS FONDOS. </span></p>
    <p class="c0"><span class="c1">ED mantendr&aacute; los fondos de las cuentas de los Usuarios disponibles en cuentas
        bancarias a la vista a su propio nombre en entidades financieras de la Rep&uacute;blica Argentina de su
        elecci&oacute;n. ED no ser&aacute; responsable en ning&uacute;n caso por hechos que afecten la
        disponibilidad de los fondos y/o por la insolvencia de dichas entidades. Como consecuencia de ello, ED no
        ser&aacute; responsable por hechos o acontecimientos que restrinjan o imposibiliten la libre disponibilidad
        de los fondos del Usuario. Tampoco ED responder&aacute; por caso fortuito o por cualquier otra causa de
        imposibilidad de cumplimiento de los TyC, que no fueran atribuibles a su parte. ED tampoco responder&aacute;
        por los fondos que por mandato del Usuario sean transferidos a terceros, as&iacute; como tampoco ser&aacute;
        responsable de la disponibilidad en el caso de solicitudes de embargos, cauci&oacute;n, prohibiciones,
        confiscaciones, retenciones, decomiso requisa, bloqueo, traba, emitidas por organismos judiciales o
        administrativos.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">9. IRREVOCABILIDAD. </span></p>
    <p class="c0"><span class="c1">Una vez efectuadas las operaciones llevadas a cabo por el Usuario no podr&aacute;n
        revocarse. La confirmaci&oacute;n por parte de ED se realizar&aacute;, ya sea a trav&eacute;s de un mensaje
        de confirmaci&oacute;n para cada operaci&oacute;n en particular o por el mero reflejo de la misma en la
        BILLETERA, al concluir cada transacci&oacute;n. El Usuario libera a ED de toda responsabilidad por las
        operaciones llevadas a cabo a trav&eacute;s de su Cuenta de Usuario, y garantiza mantener indemne a ED por
        cualquier reclamo, da&ntilde;o y/o perjuicio derivado directa o indirectamente de la utilizaci&oacute;n de
        su Cuenta de Usuario. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">10. PRUEBA DE LAS OPERACIONES. </span></p>
    <p class="c0"><span class="c1">El Usuario acepta que las &oacute;rdenes impartidas por &eacute;ste a trav&eacute;s
        de los medios especialmente habilitados al efecto para los Servicios, ser&aacute;n tenidas como prueba de su
        voluntad de haber realizado las operaciones personalmente. El Usuario acepta expresamente la
        informaci&oacute;n sobre su utilizaci&oacute;n de los Servicios que surja de los soportes magn&eacute;ticos
        y/o electr&oacute;nicos provistos por ED a trav&eacute;s de la Billetera y/o de los medios especiales que ED
        disponga a tal efecto. </span></p>
    <p class="c0 c3"><span class="c1 c8"></span></p>
    <p class="c0"><span class="c1">11. INCUMPLIMIENTOS DEL USUARIO. </span></p>
    <p class="c0"><span class="c1">La Billetera, los Servicios y los Contenidos s&oacute;lo podr&aacute;n ser utilizados
        con fines l&iacute;citos. ED proh&iacute;be espec&iacute;ficamente cualquier utilizaci&oacute;n de la
        Billetera, los Servicios o los Contenidos para: &#9679; Suministrar informaci&oacute;n fraudulenta, datos
        biogr&aacute;ficos incompletos, falsos o inexactos ya sea durante el proceso de registro del Usuario o en
        cualquier momento durante la vigencia de la relaci&oacute;n contractual con ED; &#9679; Negarse a
        proporcionar cualquier informaci&oacute;n, documentaci&oacute;n o justificaci&oacute;n de cualquier
        acci&oacute;n, requerida por ED. &#9679; Usar cualquier mecanismo para impedir o intentar impedir el
        adecuado funcionamiento de la Billetera, los Servicios o los Contenidos. &#9679; Revelar o compartir las
        Claves con terceras personas, o usar las Claves para prop&oacute;sitos no autorizados. &#9679; El uso o
        intento de uso de cualquier m&aacute;quina, software, herramienta, agente u otro mecanismo para navegar o
        buscar en la Billetera, los Servicios o los Contenidos que sean distintos a las herramientas de
        b&uacute;squeda provistos por ED en la Billetera. &#9679; Intentar descifrar, descompilar u obtener el
        c&oacute;digo fuente de cualquier programa de software de la Billetera. &#9679; Realizar acciones que
        contravengan las regulaciones y disposiciones emitidas por el Banco Central de la Rep&uacute;blica Argentina
        o la Unidad de la Informaci&oacute;n Financiera y/o cualquier otro organismo p&uacute;blico que corresponda.
        &#9679; Cometer delitos, infracciones, contravenciones y/o da&ntilde;os de cualquier tipo, incluyendo
        discriminaci&oacute;n y/o acoso, a cualquier persona. El usuario s&oacute;lo podr&aacute; utilizar su Cuenta
        de Usuario y las Claves para s&iacute; y no podr&aacute; emplearla para que terceros efect&uacute;en
        transacciones y/o reciban informaci&oacute;n, ni tampoco para realizar transacciones por cuenta y orden de
        terceros. ED se reserva el derecho de suspender o dar de baja a cualquier Cuenta de Usuario que, a exclusivo
        criterio de ED, no cumpla con los est&aacute;ndares definidos en este Contrato, sin que ello genere derecho
        a resarcimiento alguno. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">12. MEDIDAS EN CASO DE INCUMPLIMIENTO. </span></p>
    <p class="c0"><span class="c1">ED podr&aacute; realizar una serie de medidas (&quot;las Medidas&quot;) con el fin de
        proteger a ED, los empleados y Usuarios, debido a cualquier acci&oacute;n que realice el Usuario
        seg&uacute;n el punto 11, o a criterio exclusivo de ED. Las Medidas pueden ser, sin que sea entendida como
        una lista taxativa: (i) exigir que el Usuario justifique cualquier operaci&oacute;n realizada que ED
        considere inusual, sospechosa, fraudulenta, o de mala fe, independientemente de su monto, a fin de proteger
        a ED y/o sus filiales y/o subsidiarias y/o controlantes y/o controladas y/o vinculadas y/o socios y/o
        accionistas y/o gerentes y/o administradores y/o directores y/o funcionarios y/o empleados y/o dependientes
        y/o representantes y/o apoderados y/o apoderados legales y/o asesores y/o cualquier otra persona humana o
        jur&iacute;dica que pudiera estar relacionada con ella, (ii) proceder a inhabilitar, congelar, cerrar la/s
        cuenta/s y/o la baja de Servicio/s de cualquier Usuario por el tiempo que ED considere necesario para
        analizar y resolver la situaci&oacute;n y sin que ello le genere a ED responsabilidad alguna, ni derecho al
        Usuario a reclamar por da&ntilde;os y perjuicios. A su vez ED se reserva la facultad de iniciar las
        denuncias y acciones judiciales que correspondan contra el Usuario; (iii) proceder a retener por tiempo
        indeterminado los Fondos que se encuentren acreditados y/o que se acrediten en el futuro en la Cuenta del
        Usuario cuando existan sospechas de ilegalidades, fraude y/ o cualquier otro acto contrario a estos TyC y/o
        sospechas de violaci&oacute;n de preceptos legales por los cuales ED deba responder, sin que ello genere
        ning&uacute;n tipo de inter&eacute;s a favor del Usuario sobre los montos retenidos; (iv) resolver, en caso
        de incumplimiento del Usuario, el presente Contrato y consecuentemente dar de baja la cuenta del Usuario que
        incumpla estos TyC y/o se tenga sospechas de violaci&oacute;n de preceptos legales por los cuales ED deba
        responder. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">13. CONFIDENCIALIDAD.</span></p>
    <p class="c0"><span class="c1">&nbsp;La Cuenta de Usuario y las Claves ser&aacute;n personales, secretos,
        confidenciales e intransferibles, quedando terminantemente prohibida su divulgaci&oacute;n a terceros por
        parte del Usuario. En caso de que el Usuario llegase a saber y/o sospechar sobre una vulneraci&oacute;n de
        la confidencialidad de sus Claves, deber&aacute; modificarla de inmediato. El Usuario ser&aacute; el
        &uacute;nico y exclusivo responsable de la confidencialidad de sus Claves, as&iacute; como tambi&eacute;n de
        todas las operaciones y/o actividades llevadas a cabo con las Claves y la Cuenta de Usuario, eximiendo a ED
        de cualquier responsabilidad por las mismas y renunciando el Usuario a reclamar por los da&ntilde;os y
        perjuicios que pudiera sufrir. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">14. PROPIEDAD INTELECTUAL E INDUSTRIAL.</span></p>
    <p class="c0"><span class="c1">Los contenidos de la Billetera, tales como texto, informaci&oacute;n,
        gr&aacute;ficos, im&aacute;genes, logos, marcas, programas de computaci&oacute;n, bases de datos,
        dise&ntilde;os, APIs, arquitectura funcional y cualquier otro material (en adelante, &quot;el
        Contenido&quot;), est&aacute;n protegidos por las leyes vigentes en Argentina, incluyendo, pero sin
        limitaci&oacute;n, las leyes sobre derechos de autor, patentes, marcas, modelos de utilidad, dise&ntilde;os
        industriales y nombres de dominio, se encuentren o no registrados, en el pa&iacute;s o en el exterior. Todo
        el Contenido es propiedad de ED y/o de cualquier otra sociedad filial, subsidiaria, sucursal, agencia,
        representaciones, controlantes, controladas, vinculadas y cualquier persona humana o jur&iacute;dica que
        pudiera estar relacionada con ED y su contenido. La compilaci&oacute;n, interconexi&oacute;n, operatividad y
        disposici&oacute;n de los contenidos de la Billetera es de propiedad exclusiva de ED y/o de sus empresas
        vinculadas. El Usuario se encuentra autorizado a utilizar, visualizar e imprimir los elementos de la
        Billetera para su uso personal y no lucrativo, absteni&eacute;ndose de realizar sobre los mismos cualquier
        acto de descompilaci&oacute;n, ingenier&iacute;a inversa, modificaci&oacute;n, divulgaci&oacute;n o
        suministro. El uso, adaptaci&oacute;n, reproducci&oacute;n y/o comercializaci&oacute;n no autorizada del
        Contenido puede encontrarse penado por la legislaci&oacute;n vigente en la Rep&uacute;blica Argentina. El
        Usuario no copiar&aacute; ni adaptar&aacute; el c&oacute;digo de programaci&oacute;n desarrollado por, o por
        cuenta de, ED para generar y operar la Billetera o los Servicios, el cual se encuentra protegido por la
        legislaci&oacute;n aplicable y vigente en la Rep&uacute;blica Argentina. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">15. PROVEEDOR DE SERVICIOS DE PAGO EFECTIVO DIGITAL </span></p>
    <p class="c0"><span class="c1">ED es proveedor de servicios de pago en los t&eacute;rminos de la Comunicaci&oacute;n
        &ldquo;A&rdquo; 6885 del Banco Central de la Rep&uacute;blica y las que en un futuro la pudieran modificar.
        ED ofrece servicios de pago y no se encuentra autorizado a operar como entidad financiera por el Banco
        Central de la Rep&uacute;blica Argentina. Los fondos depositados en la cuenta de pago no constituyen
        dep&oacute;sitos en una entidad financiera, ni cuentan con ninguna de las garant&iacute;as que tales
        dep&oacute;sitos puedan gozar de acuerdo con la legislaci&oacute;n y reglamentaci&oacute;n aplicables en
        materia de dep&oacute;sitos de entidades financieras. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">16. RESPONSABILIDADES. </span></p>
    <ol class="c12 lst-kix_list_1-0 start" start="1">
      <li class="c0 c7 li-bullet-0"><span>El Usuario declara y acepta que el uso de la Billetera, de los Servicios y
          de los Contenidos se efect&uacute;a bajo su &uacute;nica y exclusiva responsabilidad. ED se reserva el
          derecho de suspender y/o interrumpir el servicio a su exclusivo criterio. ED no asume ninguna
          responsabilidad por el funcionamiento del dispositivo y/o el software utilizados por el usuario para
          acceder a la billetera, los contenidos y/o los servicios, como as&iacute; tampoco respecto de aquellos
          relacionados y/u ocasionados por terceros prestadores de servicios de acceso a internet,
          telefon&iacute;a celular y/o cualquier otro servicio otorgado por personas distintas a ED. En
          ning&uacute;n caso ED ser&aacute; responsable de cualquier da&ntilde;o incluyendo, pero sin
          limitaci&oacute;n, da&ntilde;os directos y/o indirectos, lucro cesante y/o p&eacute;rdida de chance que
          resulten del uso y/o de la imposibilidad de uso de la Billetera, de los servicios o de los contenidos,
          sin perjuicio de que ED haya sido advertido sobre la posibilidad de tales da&ntilde;os. ED se excluye de
          toda responsabilidad por los da&ntilde;os y perjuicios de toda naturaleza que pudieran deberse al
          accionar de terceros no autorizados respecto de los datos personales de los usuarios, as&iacute; como de
          los contenidos y servicios ofrecidos a trav&eacute;s de la Billetera. </span></li>
      <li class="c0 c7 li-bullet-0"><span>ED se limita a ofrecer servicios de pago y no se encuentra autorizado a
          operar como entidad financiera por el Banco Central de la Rep&uacute;blica Argentina. Los fondos
          depositados en cuentas de pago no constituyen dep&oacute;sitos en una entidad financiera, ni cuentan con
          ninguna de las garant&iacute;as que tales dep&oacute;sitos puedan gozar de acuerdo con la
          legislaci&oacute;n y reglamentaci&oacute;n aplicables en materia de dep&oacute;sitos de entidades
          financieras.</span></li>
    </ol>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">17. PRIVACIDAD Y PROTECCI&Oacute;N DE LOS DATOS PERSONALES.</span></p>
    <p class="c0"><span class="c1">Todo Usuario que desee utilizar la Billetera y los Servicios debe registrarse en ED y
        aceptar estos TyC. Para registrarse es obligatorio completar el formulario de registro en todos sus campos
        con datos v&aacute;lidos e informaci&oacute;n personal exacta, precisa y verdadera (&ldquo;Datos
        Personales&rdquo;). El Usuario asume el compromiso de actualizar los Datos Personales conforme resulte
        necesario. ED no se responsabiliza por la certeza de los Datos Personales provistos por los Usuarios. Los
        Usuarios garantizan y responden, en cualquier caso, por la veracidad, exactitud, integridad, vigencia y
        autenticidad de los Datos Personales ingresados. Toda la informaci&oacute;n y los Datos Personales
        ingresados por el Usuario tienen car&aacute;cter de declaraci&oacute;n jurada.</span></p>
    <p class="c0"><span class="c1">ED se reserva el derecho de solicitar comprobantes y/o informaci&oacute;n adicional a
        efectos de corroborar la informaci&oacute;n entregada por el Usuario en materia de Datos Personales,
        as&iacute; como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser
        confirmados.</span></p>
    <p class="c0"><span class="c1">Asimismo, a fin de cumplir con la regulaci&oacute;n aplicable en materia de
        prevenci&oacute;n de lavado de dinero y financiamiento del terrorismo (&ldquo;PLD/FT&rdquo;) y con sus
        pol&iacute;ticas internas al respecto, ED podr&aacute; solicitar al Usuario determinada informaci&oacute;n
        y/o documentaci&oacute;n con fines identificatorios, de conocimiento y monitoreo del cliente y su
        operatoria, que podr&aacute; variar, de acuerdo con la actividad del Usuario dentro de la Billetera o de los
        Servicios que el Usuario utilice. ED podr&aacute; solicitar peri&oacute;dicamente al Usuario la
        actualizaci&oacute;n de dicha informaci&oacute;n y/o documentaci&oacute;n. ED se reserva el derecho de
        rechazar una solicitud de registro o de cancelar o suspender, temporal o definitivamente una Cuenta ED (i)
        en caso de detectar incongruencias o inconsistencias en la informaci&oacute;n provista por un Usuario o;
        actividades inusuales o sospechosas del Usuario en materia de PLD/FT o de fraude; o (ii) en caso que el
        Usuario no proporcione o no actualice en tiempo y forma la informaci&oacute;n y/o documentaci&oacute;n
        requerida por ED, sin que tal decisi&oacute;n genere para el Usuario derechos de indemnizaci&oacute;n o
        resarcimiento.</span></p>
    <p class="c0"><span>Cuando se registre en la Billetera, se le pedir&aacute; al Usuario que aporte a ED cierta
        informaci&oacute;n a modo de declaraci&oacute;n jurada que incluir&aacute;, a fines identificatorios y de
        conocimiento del cliente, a fines enunciativos entre otras, nombre y apellido, DNI, fecha de nacimiento,
        nacionalidad, sexo, CUIL o CUIT, domicilio real y de entrega de la tarjeta, n&uacute;mero de tel&eacute;fono
        celular del dispositivo donde se instala la aplicaci&oacute;n, una direcci&oacute;n v&aacute;lida de correo
        electr&oacute;nico, entre otros datos personales, adem&aacute;s de declaraciones juradas de persona
        pol&iacute;ticamente expuesta y licitud de fondos o las que en un futuro se pudieran solicitar.
        Opcionalmente el Usuario podr&aacute; proveer CBU de cuenta bancaria de su titularidad o CVU de otro
        Proveedor de Servicio de Pago (PSP) a los efectos de realizar recargas o pagos de las Cuentas o Tarjetas ED,
        y otros datos que asistan a ED en la elaboraci&oacute;n de un perfil crediticio del Usuario. El Usuario
        reconoce y acepta que ED puede revelar a terceras partes, de forma an&oacute;nima, cierto conjunto de los
        datos suministrados por el Usuario para la utilizaci&oacute;n de los Servicios. ED no revelar&aacute; a
        terceras partes sus datos personales sin su consentimiento previo, excepto en la medida en que sea necesario
        para el cumplimiento de las leyes y/o procedimientos legales vigentes, donde tal informaci&oacute;n sea
        relevante. ED se reserva el derecho de ofrecerle servicios y productos de terceros basados en las
        preferencias que el Usuario haya indicado al momento de registrarse y/o en cualquier momento posterior;
        tales ofertas pueden efectuarse por ED o por terceros. Por favor consulte la </span><span
        class="c5">Pol&iacute;tica de Privacidad de la Billetera</span><span class="c1">&nbsp;para conocer los
        detalles respecto del tratamiento de sus datos personales. El Usuario ser&aacute; responsable de todos los
        usos de su cuenta, tanto si est&aacute;n autorizados o no por el Usuario. El Usuario deber&aacute; notificar
        inmediatamente a ED sobre cualquier uso sin autorizaci&oacute;n de su Cuenta de Usuario y/o las Claves. Los
        Usuarios que utilicen los Servicios de ED garantizan la veracidad, exactitud, vigencia y autenticidad de la
        informaci&oacute;n facilitada, y se comprometen a mantenerlos debidamente actualizados, informando a ED
        sobre cualquier modificaci&oacute;n a trav&eacute;s de la actualizaci&oacute;n de la informaci&oacute;n
        correspondiente en su Cuenta de Usuario, o poni&eacute;ndose en contacto a
        atencionalcliente@efectivodigital.com.ar. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">18. V&Iacute;NCULOS A SITIOS DE TERCEROS Y/O PROVEEDORES DE SERVICIOS.</span></p>
    <p class="c0"><span class="c1">La Billetera puede contener v&iacute;nculos a sitios web y/o aplicaciones de terceros
        (en adelante, los &ldquo;Sitios de Terceros&rdquo;). ED no respalda ni garantiza los contenidos de estos
        Sitios de Terceros. ED no es responsable del contenido de los Sitios Terceros y no hace ninguna
        afirmaci&oacute;n relativa al contenido y/o exactitud en estos Sitios de Terceros. Si Usted decide acceder a
        Sitios de Terceros, lo hace bajo su propia responsabilidad. </span></p>
    <p class="c0"><span class="c1">Los servicios de terceras partes ajenos a ED y/o proveedores de servicios que brindan
        servicios a los Usuarios, (en adelante &ldquo;Proveedores&rdquo;) mediante acceso interno o externo
        vinculado a la Billetera y que los Usuarios han aceptado los t&eacute;rminos y condiciones y/o condiciones
        de servicio y/o contratos de servicio de los Proveedores por utilizar los mismos, ED no ser&aacute;
        responsable de las consecuencias que su uso le ocasione al Usuario, ya sea por los servicios brindados por
        &eacute;stos, ni por su relaci&oacute;n contractual y/o v&iacute;nculo que el Usuario tiene, tenga o haya
        tenido con estos Proveedores, a los que han tenido v&iacute;nculo tanto a trav&eacute;s de la Billetera y/o
        Cuenta ED y/o Tarjeta ED, por fuera de las mismas, o con acceso desde y/o hacia &eacute;stas.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">19. COSTO DE LOS SERVICIOS. </span></p>
    <p class="c0"><span class="c1">ED podr&aacute; cobrar comisiones por el mantenimiento y/o uso de los Servicios,
        previa notificaci&oacute;n al Usuario dentro del plazo legal correspondiente, entendi&eacute;ndose
        expresamente facultado para efectuar los correspondientes d&eacute;bitos en las cuentas asociadas a las
        Cuentas o Tarjetas ED del Usuario. Las comisiones mencionadas precedentemente no incluyen los costos que
        aplican las empresas de telefon&iacute;a celular o los proveedores de internet, por los servicios de
        transmisi&oacute;n de datos. </span></p>
    <p class="c0"><span class="c1">La cuenta ED Comercial tendr&aacute; costos asociados seg&uacute;n figuran en los
        presentes TyC.</span></p>
    <p class="c0"><span class="c1">ED podr&aacute; proceder al cierre de las Cuentas ya sea por &nbsp;retiro del saldo
        total existente, siempre que no registre la cuenta movimientos durante el plazo de 180 d&iacute;as corridos,
        as&iacute; como tambi&eacute;n se reserva el derecho de proceder al cierre de la Cuenta sin
        invocaci&oacute;n de causa, renunciando el Usuario a todo reclamo al respecto. </span></p>
    <p class="c0"><span class="c1">En los caso de cierre de Cuentas con saldos que no registren movimientos en la cuenta
        durante el plazo de 180 d&iacute;as corridos, los saldos ser&aacute;n transferidos a una cuenta general y
        puestos a disposici&oacute;n de los interesados. Transcurridos 60 d&iacute;as corridos de la transferencia a
        la cuenta general, la empresa percibir&aacute; una comisi&oacute;n compensatoria a aplicar
        peri&oacute;dicamente, por la custodia de los saldos, que ser&aacute; del 5% mensual del importe al momento
        del cierre, hasta que este llegue a un monto menor a $5, el cual se guardar&aacute; por 30 d&iacute;as
        adicionales, y ser&aacute; el &uacute;ltimo pago de comisi&oacute;n por la custodia. El Cliente reconoce y
        acepta expresamente la facultad de ED de disponer la suspensi&oacute;n previa al cese del servicio de las
        instrucciones de pago, la que durar&aacute; hasta la finalizaci&oacute;n de las operaciones pendientes a
        juicio exclusivo de ED, en cuya ocasi&oacute;n se dispondr&aacute; el cierre definitivo de las Cuentas.
      </span></p>
    <p class="c0"><span class="c1">El mantener una Cuenta ED implica la aceptaci&oacute;n expresa de toda
        operaci&oacute;n de recepci&oacute;n de pagos, y todos los cargos o comisiones que sean aplicables.</span>
    </p>
    <p class="c0"><span>Las Cuenta ED Usuario podr&aacute;n incorporar fondos en efectivo sin costo alguno, siempre y
        cuando cumpla con dos requisitos: a) no exceder de 4 transacciones mensuales y b) no superar el monto
        equivalente a 500 UVA (Unidad de Valor Adquisitivo </span><span class="c14"><a class="c4"
          href="https://www.google.com/url?q=http://www.bcra.gov.ar/PublicacionesEstadisticas/Principales_variables_datos.asp&amp;sa=D&amp;source=editors&amp;ust=1643054118967973&amp;usg=AOvVaw3tT-7urlP4erORiN5pp5y_">http://www.bcra.gov.ar/PublicacionesEstadisticas/Principales_variables_datos.asp</a></span><span
        class="c1">) mensuales. Por otro lado, agregar fondos mediante transferencia bancaria estar&aacute; 100 %
        bonificado tanto en las Cuenta ED Usuario como para las Cuenta ED Comercial.</span></p>
    <p class="c0"><span class="c1">Luego de pasados los l&iacute;mites de bonificaci&oacute;n, las Cuenta ED Usuario
        pagar&aacute;n el 5% con un m&iacute;nimo de treinta pesos ($30) por transacci&oacute;n, incluso si el total
        que desea agregar o cobrar, es una &uacute;nica transacci&oacute;n.</span></p>
    <p class="c0"><span class="c1">Por su parte, para la incorporaci&oacute;n de fondos en efectivo en las Cuenta ED
        Comercial, deber&aacute;n pagar un 5% con un m&iacute;nimo de treinta pesos ($30) por
        transacci&oacute;n.</span></p>
    <p class="c0"><span class="c1">Tambi&eacute;n tendr&aacute;n habilitado el proceso de cobranza directa las Cuenta ED
        Comercial, las cuales tendr&aacute;n un costo seg&uacute;n el medio de pago, que se detalla a
        continuaci&oacute;n: a) D&eacute;bito en CBU o CVU; b) DEBIN (d&eacute;bito inmediato); c) Tarjetas de
        cr&eacute;dito o d&eacute;bito; d) BANELCO / Pago Mis Cuentas y RED LINK / Link Pagos; e) Redes de cobranza
        extrabancarias. Estos servicios podr&aacute;n ser ofrecidos de manera directa o mediante convenios con
        empresas que ofrecen estos servicios y estar&aacute;n limitadas por sus pol&iacute;ticas de uso. </span></p>
    <ol class="c12 lst-kix_list_2-0 start" start="1">
      <li class="c0 c7 li-bullet-0"><span class="c1">plazo</span></li>
    </ol>
    <ol class="c12 lst-kix_list_2-1 start" start="1">
      <li class="c0 c2 li-bullet-0"><span class="c1">48 horas h&aacute;biles: 2% (m&iacute;nimo de $ 5) + fijo de $2;
          rechazo $4; reverso $4</span></li>
      <li class="c0 c2 li-bullet-0"><span class="c1">7 d&iacute;as h&aacute;biles: 1,40% (m&iacute;nimo de $ 4) + fijo
          de $2; rechazo $4; reverso $4;</span></li>
      <li class="c0 c2 li-bullet-0"><span class="c1">15 d&iacute;as h&aacute;biles: 1% (m&iacute;nimo de $ 3) + fijo
          de $2; rechazo $4; reverso $4;</span></li>
      <li class="c0 c2 li-bullet-0"><span class="c1">30 d&iacute;as h&aacute;biles: 0,50% (m&iacute;nimo de $ 2) +
          fijo de $2; rechazo $4; reverso $4;</span></li>
    </ol>
    <ol class="c12 lst-kix_list_2-0" start="2">
      <li class="c0 c7 li-bullet-0"><span class="c1">0,80% con un m&iacute;nimo de $ 2 + fijo $ 2</span></li>
      <li class="c0 c7 li-bullet-0"><span class="c1">plazo:</span></li>
    </ol>
    <ol class="c12 lst-kix_list_2-1 start" start="1">
      <li class="c0 c2 li-bullet-0"><span class="c1">30 d&iacute;as h&aacute;biles: &nbsp;cr&eacute;dito 1 pago 1,99%;
          d&eacute;bito 0,50%</span></li>
      <li class="c0 c2 li-bullet-0"><span class="c1">15 d&iacute;as h&aacute;biles: cr&eacute;dito 1 pago 3,49%;
          d&eacute;bito &nbsp;1%</span></li>
      <li class="c0 c2 li-bullet-0"><span class="c1">2 d&iacute;as h&aacute;biles: cr&eacute;dito 1 pago 5,89%;
          d&eacute;bito 2%</span></li>
    </ol>
    <ol class="c12 lst-kix_list_2-0" start="4">
      <li class="c0 c7 li-bullet-0"><span class="c1">3,5% (m&iacute;nimo $ 10) + fijo $ 2</span></li>
      <li class="c0 c7 li-bullet-0"><span class="c1">3,5% (m&iacute;nimo $ 30) + fijo $ 2</span></li>
    </ol>
    <p class="c0"><span class="c1">&nbsp;Tambi&eacute;n estar&aacute; disponible la opci&oacute;n GATEWAY por
        consiguiente el titular de la Cuenta ED Comercial afrontar&aacute; sus costos aplicables que tiene el
        comercio habilitado con cada medio de pago bajo su n&uacute;mero de comercio, con un costo transaccional
        adicional por operaci&oacute;n de un peso ($ 1.-).</span></p>
    <p class="c0"><span class="c1">El Usuario acuerda que las modificaciones de precios, costos, plazos, y nuevas
        incorporaciones de medios de pago o herramientas comerciales entrar&aacute;n en vigencia una vez que sean
        publicadas por ED en este apartado o en cualquier otra parte de los TyC.</span></p>
    <p class="c0"><span class="c1">Impuestos. Todos los impuestos actuales y futuros que directa o indirectamente graven
        la Cuenta ED y/o Tarjeta ED y/o los gastos que se efect&uacute;en con ellas
        (emisi&oacute;n/mantenimiento/consumos), estar&aacute;n a cargo del Usuario, seg&uacute;n corresponda, y
        ser&aacute;n debitados del saldo de la Cuenta ED y/o Tarjeta ED seg&uacute;n corresponda. En caso de que la
        Cuenta ED y/o Tarjeta ED no cuente con saldo para abonar los impuestos aplicables, ED informar&aacute; al
        Usuario, por correo electr&oacute;nico, o a trav&eacute;s de la Aplicaci&oacute;n, la forma que
        deber&aacute; abonar.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">20. MODIFICACI&Oacute;N DE LOS SERVICIOS. </span></p>
    <p class="c0"><span class="c1">ED se reserva el derecho a modificar, restringir y/o suprimir todos o cualquiera de
        los Servicios brindados a trav&eacute;s de la Billetera, en forma temporal o definitiva, sin que estas
        medidas puedan ser objeto de requerimiento alguno, ni de derecho a reclamar da&ntilde;os y perjuicios ni
        lucro cesante por parte del Usuario. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">21. MODIFICACI&Oacute;N DE LOS TyC </span></p>
    <p class="c0"><span class="c1">ED podr&aacute; modificar en cualquier momento los TyC notificando previamente los
        cambios al Usuario v&iacute;a mail y/o notificaci&oacute;n push en la Billetera y publicando una
        versi&oacute;n actualizada de dichos TyC en el sitio web www.efectivodigital.com.ar con expresi&oacute;n de
        la fecha de la &uacute;ltima modificaci&oacute;n. Todos los t&eacute;rminos modificados entrar&aacute;n en
        vigor en la fecha indicada en la notificaci&oacute;n. Dentro de los 10 (diez) d&iacute;as corridos
        siguientes a la notificaci&oacute;n de las modificaciones introducidas, el Usuario podr&aacute; comunicar
        por e-mail si no acepta las mismas; en ese caso quedar&aacute; disuelto el v&iacute;nculo contractual.
        Vencido dicho plazo, se considerar&aacute; que el Usuario acepta los nuevos TyC y el contrato
        continuar&aacute; vinculando a ambas partes.</span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">22. RESCISI&Oacute;N DEL SERVICIO. </span></p>
    <p class="c0"><span class="c1">La prestaci&oacute;n de los servicios tiene una duraci&oacute;n indeterminada. Sin
        perjuicio de lo anterior, ED est&aacute; autorizada para terminar o suspender la prestaci&oacute;n de los
        Servicios y/o de cualquiera de los Contenidos en cualquier momento y sin expresi&oacute;n de causa
        notificando previamente al Usuario. El Usuario podr&aacute; solicitar el cierre de la Cuenta a trav&eacute;s
        de los canales de comunicaci&oacute;n habilitados por ED. Si existieran fondos remanentes al cierre de la
        Cuenta, el Usuario deber&aacute; transferirlos a una cuenta de su preferencia (CBU y/o CVU) y/o extraerlos
        de la misma por los medios habilitados para tal fin, dejando la Cuenta ED con un saldo de cero pesos ($0).
        Luego de transcurridos ciento ochenta (180) d&iacute;as y si existiesen fondos remanentes, ser&aacute; de
        aplicaci&oacute;n lo dispuesto en el ac&aacute;pite 19, &uacute;ltimo p&aacute;rrafo. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">23. CESI&Oacute;N O USO COMERCIAL NO AUTORIZADO. </span></p>
    <p class="c0"><span class="c1">El Usuario acepta no ceder, bajo ning&uacute;n t&iacute;tulo, sus derechos u
        obligaciones bajo el presente Contrato. El Usuario tambi&eacute;n acepta que no realizar&aacute; cualquier
        uso comercial no autorizado de la Billetera, de los Servicios o de los Contenidos. Asimismo, el Usuario se
        compromete a utilizar la Billetera, el Contenido y los Servicios diligentemente y de conformidad con la ley
        aplicable y vigente de la Rep&uacute;blica Argentina y con este Contrato. ED se reserva el derecho, a su
        exclusivo criterio, de emplear todos los medios legales a su alcance en caso de que el Usuario infrinja
        cualquiera de estos TyC. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">24. TOTALIDAD DEL ACUERDO. </span></p>
    <p class="c0"><span class="c1">Los presentes TyC, junto con la Pol&iacute;tica de Privacidad, los t&eacute;rminos
        espec&iacute;ficos correspondientes a las Tarjetas ED y aquellos que eventualmente se especifiquen para cada
        Servicio constituyen la totalidad del acuerdo entre el Usuario y ED. </span></p>
    <p class="c0 c3"><span class="c1"></span></p>
    <p class="c0"><span class="c1">25. DOMICILIO. LEY APLICABLE. COMPETENCIA. </span></p>
    <p class="c0"><span>Estos TyC se rigen por las leyes de la Rep&uacute;blica Argentina. Toda acci&oacute;n derivada
        de estos TyC o del uso de la Billetera deber&aacute; someterse exclusivamente a la jurisdicci&oacute;n de
        los tribunales nacionales ordinarios del fuero Comercial de la Capital Federal, Rep&uacute;blica Argentina,
        renunciando las partes a cualquier otro fuero o jurisdicci&oacute;n que pudiera corresponder. En caso de
        declararse la nulidad de alguna de las cl&aacute;usulas de este Contrato, tal nulidad no afectar&aacute; a
        la validez de las restantes, las cuales mantendr&aacute;n su plena vigencia y efecto. A todos los efectos
        emergentes de estos TyC, ED constituye domicilio en Av. Coronel Niceto Vega 5248, Ciudad Aut&oacute;noma de
        Buenos Aires, Rep&uacute;blica Argentina. &Uacute;ltima actualizaci&oacute;n: 15 de junio de 2021.</span>
    </p>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Close()">
      Continuar
    </div>
  </div>
</ion-content>