<ion-header>
  <ion-toolbar>
    <ion-title>Terminos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="contenedor-90 pt-5 popup">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, distinctio, deleniti tenetur officiis magnam explicabo nostrum perferendis voluptatum rerum laboriosam eligendi a minima esse labore natus quod quam, voluptate ducimus.

</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Close()">
    Continuar
  </div>
</div>
</ion-content>
