.arribaB{
    z-index: 1100;
    position: fixed;
    top: 46%;
    width: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    line-height: 5;
    width: 98%;
    margin-left: 1%;
    margin-right: auto;
}