<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    Ahora sí ya podés restablecer
    tu contraseña
      </h1>
  <p class="align-left"> Está todo OK para que elijas una nueva clave. Y si te la olvidás otra vez, te ayudamos nuevamente.</p>
  <div class="form">
    <ion-item class="input-container">
      <ion-label position="floating">Ingresá una nueva contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      <ion-icon slot="end" name="checkmark-sharp" color="success"></ion-icon>
    </ion-item>
    <div class="validationMsg">
      <div class="msg">
        <ion-icon name="checkmark-circle-sharp" slot="start" color="success"></ion-icon> Minimo de 6 caracteres
      </div>
      <div class="msg">
        <ion-icon name="close-circle-sharp" slot="start" color="danger"></ion-icon> 1 mayúscula
      </div>
      <div class="msg">
        <ion-icon name="close-circle-sharp" slot="start" color="danger"></ion-icon> 1 número
      </div>
      <div class="msg">
        <ion-icon name="close-circle-sharp" slot="start" color="danger"></ion-icon> 1 carácter especial
      </div>
    </div>
    <ion-item class="input-container">
      <ion-label position="floating">Repetí la nueva contraseña</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'"></ion-input>
    </ion-item>
    <div class="validationMsg">
      <div class="msg full danger" color="danger">
        Las contraseñas no coinciden. Chequealas y volvé a intentarlo.
      </div>
    </div>
  </div>

  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round inactivo" (click)="Continuar()">
    Continuar
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
</ion-footer>