#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.skeletonSaldo {
    width: 80%;
}
.notify > ion-icon {

    border-radius: 100%;
    background-color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    
}
.forma{
  @media (min-width: 800px) {
    margin: inherit;
    flex-direction: row;
  }
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 3%;
}

.badge{
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 100%;
  z-index: 1;
}
.red{
  background-color: red;
  
}
.onboarding-btn-group{
  position: fixed;
}
.logout{
  display: flex;
  align-self: flex-end;
  flex-wrap: nowrap;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  flex-direction: row;
  justify-content: end;
  white-space: nowrap;
  overflow: initial;
  text-overflow: ellipsis;
}
.logout>img{
  display: none;
}
.menos {
  font-size: 68%;
}
.menos_saldo {
  font-size: 160% !important;
  font-weight: 300 !important;
}