<ion-content [fullscreen]="false">
  <section class="home-main">
    <div class="contenedor-90">
      <div class="user-header">
        <div class="home-header">
          <ion-menu-button *ngIf="(validado || cantidad_cuentas()>1) && muestro_menu" color="primary" menu="menuPrincipal" type="reset"></ion-menu-button>

        </div>

        <div class="line">
          <div class="avatar">
            {{iniciales}}
          </div>
          <div class="user-info">
            <span class="bienvenida">Hola,<span class="username"> {{username}}</span></span>
            <a class="cvu" *ngIf="validado" (click)="VerCvu()">Mi CVU</a>
          </div>
        </div>
        <div class="notify" (click)="VerNotificaciones()" *ngIf="validado">
          <div class="badge red" *ngIf="nuevo"></div>
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <div class="logout" *ngIf="!validado">
          <app-logout img="false"></app-logout>
        </div>
      </div>
      <div class="forma">
        <div class="button-container" *ngIf="validado">
          <div class="saldo">
            <h2>Disponible</h2>
            <h1 class="regular saldoUsuario" *ngIf="!cargandoSaldo && mostrarSaldo">
              {{ saldoUsuario }}
            </h1>
            <h1 class="regular saldoUsuario" *ngIf="!cargandoSaldo && !mostrarSaldo">
              *******
            </h1>
            <ion-skeleton-text class="regular saldoUsuario skeletonSaldo" *ngIf="cargandoSaldo">
              <!-- {{ saldoUsuario }} -->
            </ion-skeleton-text>
            <ion-icon slot="end" *ngIf="mostrarSaldo" name="eye-off-outline" (click)="toggleIcon()" color="white">
            </ion-icon>
            <ion-icon slot="end" *ngIf="!mostrarSaldo" name="eye-outline" (click)="toggleIcon()" color="white"></ion-icon>
          </div>
          <div class="saldo menos">
            <h2>Saldo</h2>
            <h1 class="regular saldoUsuario menos_saldo" *ngIf="!cargandoSaldo && mostrarSaldo">
              {{ TotalUsuario }}
            </h1>
            <h1 class="regular saldoUsuario menos_saldo" *ngIf="!cargandoSaldo && !mostrarSaldo">
              *******
            </h1>
            <ion-skeleton-text class="regular saldoUsuario skeletonSaldo menos" *ngIf="cargandoSaldo">
              <!-- {{ saldoUsuario }} -->
            </ion-skeleton-text>
          </div>
          <div class="saldo menos">
            <h2>Sin Liquidar</h2>
            <h1 class="regular saldoUsuario menos_saldo" *ngIf="!cargandoSaldo && mostrarSaldo">
              {{ noliquidadoUsuario }}
            </h1>
            <h1 class="regular saldoUsuario menos_saldo" *ngIf="!cargandoSaldo && !mostrarSaldo">
              *******
            </h1>
            <ion-skeleton-text class="regular saldoUsuario skeletonSaldo menos" *ngIf="cargandoSaldo">
              <!-- {{ saldoUsuario }} -->
            </ion-skeleton-text>
          </div>
          <div class="botonera" *ngIf="validado">
            <a *ngIf='puede(obtener_menu(),"ingreso-dinero")' (click)="MenuIngresoDinero()"><img
                src="assets/img/ingresar-dinero.svg" alt="Ingresar Dinero"></a>
            <a *ngIf='puede(obtener_menu(),"retiro-transferencia")' (click)="MenuTransferirDinero()"><img
                src="assets/img/transferir-dinero.svg" alt="Transferir Dinero"></a>
            <a *ngIf='puede(obtener_menu(),"retirar-dinero")' (click)="MenuRetiroDinero()"><img
                src="assets/img/retirar-dinero.svg" alt="Retirar Dinero"></a>
            <a *ngIf='puede(obtener_menu(),"Qr-pago")' (click)="MenuCodigoQR()"><img src="assets/img/codigo-qr.svg"
                alt="Código QR"></a>
          </div>

        </div>
        <!-- Lista Ultimos Movimientos -->
        <div class="lista-ultimos-movimientos mt-10" *ngIf="items && validado">
          <div class="titulo">
            <h2>Últimos movimientos</h2>
            <h2 (click)="irAHistorial();">Ver todos</h2>
          </div>
          <div class="movimientos-wrapper">
            <div class="movimiento" *ngFor="let item of items">
              <div class="imagen">
                <img src="assets/img/mov-recibiste.svg" alt="Recibiste"
                  *ngIf="item.id_tipo_trans=='2' || item.id_tipo_trans=='5' || item.id_tipo_trans==6">
                <img src="assets/img/mov-retiro.svg" alt="Recibiste" *ngIf="item.id_tipo_trans=='1'">
                <img src="assets/img/mov-pago.svg" alt="Pagaste" *ngIf="item.id_tipo_trans=='3'">
              </div>
              <div class="texto" (click)="verMas(item)">
                <h4>{{item.titulo}}</h4>
                <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
                  date:'hh:mma'}}</span>
              </div>
              <div class="monto"> ${{item.precio}} </div>
            </div>
          </div>
        </div>
      

      <!-- Mensaje de email no validado -->
      <!-- <div class="mensaje-bienvenida">
        <ion-icon name="warning-outline"></ion-icon>
        <h1>Parece que aún no validaste tu cuenta</h1>
        <h2>Una vez que lo hagas vas a poder acceder a todas nuestras funciones. Revisá tu correo electrónico, validá tu mail y continuemos. ¡Nos vemos pronto!</h2>
        <a class="bold">Reenviar correo</a>
      </div> -->
      <!-- Mensaje si este validado pero todavía no tenga movimientos -->
      
      <div class="mensaje-bienvenida" *ngIf="!items || items.lenght == 0 || !validado">
        <ion-icon name="wallet-outline"></ion-icon>
        <h1 *ngIf="validado">Todavía no hay nada por acá</h1>
        <h2 *ngIf="validado">¡Es hora de comenzar a hacer efectivo tu efectivo! Cuando lo hagas, acá vas a poder ver
          todos los movimientos que realizaste.</h2>
        <h1 *ngIf="!validado">{{mensaje}}</h1>
        <!-- {{validacion_manual}} -->
        <div class="onboarding-btn-group" *ngIf="!validado && !validacion_manual">
          <div class="btn-round activo" (click)="ir()">
            Revalidar ahora
          </div>
        </div>
        <h2 *ngIf="!validado">¡Es hora de comenzar a hacer efectivo tu efectivo! Cuando lo hagas, acá vas a poder ver
          todos los movimientos que realizaste.</h2>
      </div>
    </div>
  </div>
  </section>

</ion-content>