<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content class="centrado transferencias">
  <div class="imagen">
    <img src="../../assets/icon/check-mark.svg" alt="Operación realizada correctamente">
  </div>
  <div class="contenedor-90 align-center">
    <h1 class="align-center">¡Dinero enviado!</h1>
    <p class="align-center full">Le enviaste</p>
    <div class="monto">$ 1000</div>
    <!-- Modulo Destinatario Seleccionado -->
    <div class="destinatario-seleccionado success">
      <div class="avatar-wrapper">
        <div class="avatar">PG</div>
      </div>
      <div class="info-resultado">
        <h4 class="nombre">Pablo Gomez</h4>
        <span class="cbu">CBU: 01231214135135135613</span>
      </div>
    </div>

  </div>
  <div class="onboarding-btn-group">
    <a (click)="compartirComprobante()" class="link">Compartir comprobante</a>
    <div class="btn-round activo" (click)="finalizar()">
      Finalizar
    </div>
  </div>

</ion-content>
