<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pedir">Pedir a un amigo</ion-title>
    <ion-title *ngIf="enviar">Enviar a un amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90 align-center">
    <h1 *ngIf="pedir">Vas a pedirle dinero a </h1>
    <h1 *ngIf="enviar">Vas a enviar dinero a </h1>
    <!-- <div> -->
    <div class="amigos-seleccionados">
      <div class="amigo"  *ngFor="let item of amigos">
        <div class="avatar">
          {{libs.iniciales(item.nombre)}}
        </div>
        <div class="nombre">
          {{libs.capitalize(item.nombre)}}
        </div>
      </div>
     <!-- </div> -->
    <a (click)="Modificar()" class="link pt-5">Modificar</a>
  </div>
    <!-- Modulo de creación link -->
    <h2 class="align-center pt-5 full">Escribí el monto</h2>
    <ion-item class="input-monto full">
      <ion-label position="fixed">$</ion-label>
      <ion-input [(ngModel)]="monto_escrito"  type="tel" pattern="[0-9]*" maxlength="7"></ion-input>
    </ion-item>
    <div class="validationMsg full" *ngIf="monto>10000000">
      <div class="msg full danger align-center pt-2">Superaste el monto máximo</div>
    </div>
    <h2 class="align-center full">Referencia</h2>
    <ion-item class="full">
      
      <ion-input type="text" [(ngModel)]="referencia" ></ion-input>
    </ion-item>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Continuar()" *ngIf="monto_escrito!=0 && parseInt(monto_escrito)>=MINIMO_OPERACION">Continuar</div>
    <div class="btn-round inactivo" *ngIf="(referencia=='' || parseInt(monto_escrito)<MINIMO_OPERACION)">Continuar</div>

  </div>
</ion-content>
