////////////////////////////////////
/// CLASES GENERALES DE ESTILOS ///
//////////////////////////////////

// 1. Margenes y Paddings
.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}

.mb-5 {
  margin-bottom: 5%;
}

.pt-2 {
  padding-top: 2%;
}

.pt-5 {
  padding-top: 5%;
}

.pb-5 {
  padding-bottom: 5%;
}

.pt-10 {
  padding-top: 10%;
}

// 2. Alineaciones
.absolute {
  position: absolute;
}

.align-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.centrado {
  --padding-top: 20%;
}

.space-between {
  justify-content: space-between;
}

// 3. Tamaños de Items
.un-tercio {
  width: 28%;
}

.tres-tercios {
  width: 70%;
}

.mitad {
  width: 48%;
}

.full {
  width: 100% !important;
}

// 4. Ocultar / Mostrar Elementos
.show {
  opacity: 1;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.hide {
  opacity: 0;
  display: none;
}

ion-list,
ion-label,
ion-input,
ion-select,
ion-item {
  --background: transparent !important;
}

ion-select {
  font-size: 13px !important;
  width: 100%;
  position: absolute;

  .select-icon {
    position: absolute;
    right: 20px;
  }
}
app-splash{
  z-index: 2;
}
.action-sheet-group {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .action-sheet-button {
    padding: 5px 10px;
    border-bottom: 1px solid $border-rgba;
  }

  &:last-of-type {
    border-top-left-radius: unset;
    border-top-right-radius: unset;

    .action-sheet-button {
      border-bottom: none;
    }

    button {
      color: $link-color;
    }
  }
}

.select-icon {
  position: absolute !important;
  right: 20px !important;
}
.visa{
  background-color: #888894;
}
.gold , .Gold{
  background: rgb(173,111,60);
  background: linear-gradient(90deg, rgba(173,111,60,1) 0%, rgba(212,182,118,1) 32%, rgba(234,224,153,1) 76%);
}
.platinum, .Platinum, .silver{
  background: rgb(118,126,129);
  background: linear-gradient(90deg, rgba(118,126,129,1) 0%, rgba(163,167,168,1) 32%, rgba(205,206,208,1) 76%);
}
.Signature, .signature, .black{
  background: rgb(6,6,6);
  background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(8,8,8,1) 32%, rgba(13,13,13,1) 76%);
  color:white;
}
.tradicional, .Traditional , .traditional{
  background: radial-gradient(circle, rgba(16,149,230,1) 0%, rgba(28,137,203,1) 35%, rgba(2,98,156,1) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}
.santander{
  background: rgb(207,61,61);
  background: linear-gradient(90deg, rgba(207,61,61,1) 0%, rgba(207,61,61,1) 32%, rgba(233,83,82,1) 76%);
}
.mastercard{
  background: rgb(173,111,60);
  background: linear-gradient(90deg, rgba(173,111,60,1) 0%, rgba(212,182,118,1) 32%, rgba(234,224,153,1) 76%);
}

