////////////////////////////////////
/// CLASES GENERALES DE ESTILOS ///
//////////////////////////////////

// 1. Margenes y Paddings
.mt-5 {
    margin-top: 5%;
}
.mt-10 {
    margin-top: 10%;
}
.mb-5 {
    margin-bottom: 5%;
}
.pt-5 {
    padding-top: 5%;
}
.pb-5 {
    padding-bottom: 5%;
}
.pt-10{
    padding-top: 10%;
}

// 2. Alineaciones
.absolute {
    position: absolute;
}
.align-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.centrado {
   --padding-top: 20%;
}
.space-between {
    justify-content: space-between;
}

// 3. Tamaños de Items
.un-tercio {
    width: 28%;
}
.tres-tercios {
    width: 70%;
}
.mitad {
    width: 48%;
}
.full {
    width: 100% !important;
}
// 4. Ocultar / Mostrar Elementos
.show {
    opacity: 1;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.hide {
    opacity: 0;
    display: none;
}