<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferir Dinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="transferencias">
  <div class="contenedor-90">
    <h1>Agregar una cuenta</h1>
    <div class="botonera">
      <div class="boton enviar-dinero" (click)="nuevacuenta();">
        <img src="assets/img/transferencia/nuevacuenta.svg" alt="Agregar una nueva cuenta">
        <h2>Nueva cuenta con CBU, CVU o alias</h2>
      </div>
      <div class="boton enviar-dinero" (click)="destinatarios();">
        <img src="assets/img/transferencia/destinatarios.svg" alt="Lista de destinatarios">
        <h2>Destinatarios</h2>
      </div>
    </div>
    <!-- Modulo de últimos destinatarios -->
    <div class="lista-destinatarios mt-10">
      <div class="titulo">
        <h2>Recientes</h2>
      </div>
      <div class="destinatarios-wrapper" *ngIf="listaDestinatarios.length>0">
        <div class="destinatario" *ngFor="let item of listaDestinatarios" (click)="transferir(item)">
          <div class="avatar-wrapper">
            <div class="avatar">
              {{libs.iniciales(item.nombre)}}
            </div>
          </div>
          <div class="info-destinatario">
            <h4 class="nombre">{{libs.capitalize(item.referencia)}}</h4>
            <span class="banco">{{libs.capitalize(item.nombre)}}</span>
            <span class="banco">{{libs.capitalize(item.cuit)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
