.noVisible{
    display: none;
}
.visible{
    display: inherit;
}
.bajarIos{
    margin-top: 6%;
}
ion-button button{
    background: white;
    color: black;
    border: solid 1px red;
    padding: 0px;
    font-size: 0.6em;
    margin: 0px;
    padding-inline-end: 0px;
    width: 9em;
    height: 2em;
}