<ion-app>
  <ion-menu side="start" menuId="menuPrincipal" contentId="main" class="menu-custom" type="overlay">
    <ion-content class="menu">
      <div class="user-header">
        <div class="avatar">
          {{iniciales}}
        </div>
        <div class="user-info">
          <span class="bienvenida">Hola,<span class="username"> {{usuario}}</span></span>
          <a href="/cvu" class="cvu">Mi CVU</a>
        </div>
      </div>
    <div class="menu-lista">
      <a href="/datos-cuenta" class="opcion-menu">
        <img src="assets/img/menu/user.svg" alt="">
        <p>Datos de mi cuenta</p>
      </a>
      <a href="/historial" class="opcion-menu">
        <img src="assets/img/menu/historial.svg" alt="">
        <p>Historial de Movimientos</p>
      </a>
      <a href="/amigos" class="opcion-menu">
        <img src="assets/img/menu/friends.svg" alt="">
        <p>Amigos</p>
      </a>
    </div>
    <div class="menu-lista">
      <a href="/ingreso-dinero" class="opcion-menu">
        <img src="assets/img/menu/ingreso-dinero.svg" alt="">
        <p>Ingreso de dinero</p>
      </a>
      <a href="/transferir-dinero" class="opcion-menu">
        <img src="assets/img/menu/transferir-dinero.svg" alt="">
        <p>Transferir dinero</p>
      </a>
      <a href="/retirar-dinero" class="opcion-menu">
        <img src="assets/img/menu/retirar-dinero.svg" alt="">
        <p>Retiro de dinero</p>
      </a>
      <a href="/codigo-qr" class="opcion-menu">
        <img src="assets/img/menu/qr.svg" alt="">
        <p>QR</p>
      </a>
    </div>
    <div class="menu-lista">
      <a href="/ayuda" class="opcion-menu">
        <img src="assets/img/menu/ayuda.svg" alt="">
        <p>Ayuda</p>
      </a>
      <a href="/logout" class="opcion-menu">
        <img src="assets/img/menu/logout.svg" alt="">
        <p>Cerrar Sesión</p>
      </a>
    </div>
    
    </ion-content>
  </ion-menu>      
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
