<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="/lostpassword1" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    Queremos ayudarte a que
ingreses a tu cuenta
      </h1>
      <h2>¿Necesitás una mano para recuperar tu usuario y/o contraseña? ¡Acá estamos!
      </h2>
  <p class="align-left"> Dejanos tu mensaje y nuestro servicio de atención al cliente va a contactarse con vos.</p>
  <div class="form">
    <ion-item class="input-container">
      <ion-label position="floating">¿Cómo te llamás?</ion-label>
      <ion-input type="text"></ion-input>
      <ion-icon slot="end" name="close-sharp" color="danger"></ion-icon>
    </ion-item>
    <div class="validationMsg">
      <div class="msg full danger" color="danger">
        Necesitamos que completes este campo.
      </div>
    </div>
    <ion-item class="input-container">
      <ion-label position="floating">Ingresá tu mail</ion-label>
      <ion-input type="email"></ion-input>
      <ion-icon slot="end" name="close-sharp" color="danger"></ion-icon>
    </ion-item>
    <div class="validationMsg">
      <div class="msg full danger" color="danger">
        Ingresá un e-mail válido.
      </div>
    </div>
    <ion-item class="input-container">
      <ion-label position="stacked">Dejanos tu mensaje</ion-label>
      <ion-textarea rows="4" cols="15"></ion-textarea>
    </ion-item>
  </div>

  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round inactivo" (click)="Confirmar()">
    Enviar consulta
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
</ion-footer>