<ion-header class="ion-no-border">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/validaridentidad-problema-confirm.svg" alt="">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">¡Tu Respuesta
ya está en camino!</h1>
    <p class="align-center">Nos contactaremos con vos por mail para que puedas abrir tu cuenta con normalidad. Tené en cuenta que la respuesta puede demorar hasta 72 hs.
</p>

  
  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Registro()">
    Volver al registro
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="1"></ion-progress-bar>
</ion-footer>
