@import '../../global.scss';
.user-header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    .avatar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $principal;
        color: $white;
        border: 4px solid $border-rgba;
        font-size: 150%;
    
    }

}
.msg{display: none;}

.shakeit {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    .ingreso,
    .ingreso .activo{
        background: $error;
    }
  }



@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }