<ion-header>
  <ion-toolbar>
    
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <div class="user-header">
    <div class="avatar">
      {{iniciales}}
    </div>
  </div>
  <h1 class="align-center">
    {{titulo2}}
  </h1>
  <div class="form">
    <div class="input-container confirma-sms">
      <ion-item class="number-code">
        <ion-input type="number" maxlength="1" class="align-center" #passcode1 (keyup)="onKeyUp($event,1)" ></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="number" maxlength="1" class="align-center" #passcode2 (keyup)="onKeyUp($event,2)" ></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="number" maxlength="1" class="align-center" #passcode3 (keyup)="onKeyUp($event,3)" ></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="number" maxlength="1" class="align-center" #passcode4 (keyup)="onKeyUp($event,4)" ></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="msg full danger" color="danger" #error_code>
    El codigo ingresado es incorrecto
  </div>
</div>
<div class="onboarding-btn-group">
  <a (click)="LostPassword()" class="link">Olvide mi contraseña</a>
  <div class="btn-round activo"  (click)="validarCodigo()">
    Continuar
  </div>
</div>
</ion-content>
