<ion-header>
  <ion-toolbar>
    <ion-title>¿Qué son estas preguntas?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-90 pt-5 popup">
    <div style="text-align: justify;">
      <br style="font-weight: bold;">
      <span style="font-weight: bold;">Resolución 134/2018</span><br style="font-weight: bold;">
      <br style="font-weight: bold;">
      <span style="font-weight: bold;">RESOL-2018-134-APN-UIF#MHA</span><br style="font-weight: bold;">
      <br style="font-weight: bold;">
      <span style="font-weight: bold;">Ciudad de Buenos Aires, 21/11/2018</span><br>
      <p>
        VISTO el Expediente Nº EX-2018-56727841-APN-DD#UIF, las Leyes N°
        23.298, N° 23.660, Nº 24.759, Nº25.188, N° 25.246, Nº 26.097 y N°
        26.215, el Decreto Nº 290 de fecha 27 de marzo de 2007 y la Resolución
        UIF N° 11 de fecha 13 de enero de 2011, y
      <p>

      <h2>
        CONSIDERANDO:</h2>
      <p>
        Que en atención a lo dispuesto por el artículo 6° de la Ley N° 25.246,
        la Unidad de Información Financiera (UIF), es el organismo encargado
        del análisis, el tratamiento y la transmisión de información a los
        efectos de prevenir e impedir los delitos de lavado de activos y de
        financiación del terrorismo (LA/FT).</p>
      <p>
        Que en el artículo 20 de la precitada norma se enumeran los sujetos
        obligados a informar a la UIF en los términos de los artículos 20 bis,
        21 y 21 bis del mismo cuerpo legal.</p>
      <p>
        Que mediante el inciso 10 del artículo 14 de la Ley N° 25.246 se
        faculta a la UIF a emitir directivas e instrucciones que deben cumplir
        e implementar los sujetos obligados.</p>
      <p>
        Que con sustento en tal facultad, la UIF ha dictado la Resolución UIF
        N° 11/2011 que establece las medidas, procedimientos y controles que
        los sujetos obligados enumerados en el artículo 20 de la Ley N° 25.246
        deben adoptar y aplicar respecto de las Personas Expuestas
        Políticamente (PEP) que se encuentran enumeradas en la mencionada norma.</p>
      <p>
        Que al momento del dictado de la mencionada Resolución, la UIF tuvo en
        consideración las 40+9 Recomendaciones del Grupo de Acción Financiera
        Internacional (FATF/GAFI) contra el LA/FT aprobadas en el año 2003.</p>
      <p>
        Que el GAFI es un ente intergubernamental con el mandato de fijar
        estándares y promover la implementación efectiva de medidas legales,
        regulatorias y operativas para combatir el LA/FT y otras amenazas a la
        integridad del sistema financiero internacional, siendo oficialmente
        conocidas como sus Recomendaciones, las que constituyen un esquema
        completo y consistente que los países miembros deben implementar.</p>
      <p>
        Que en febrero de 2012 las Recomendaciones del GAFI fueron revisadas y
        como consecuencia de ello se modificaron los criterios para la
        prevención del LA/FT, mutando de un enfoque de cumplimiento normativo
        formalista a un enfoque basado en riesgos.</p>
      <p>
        Que, en tal sentido, la Recomendación N° 1 establece que a los efectos
        de un combate eficaz contra los delitos de LA/FT, los países miembros
        del GAFI deben aplicar un enfoque basado en riesgos, a fin de asegurar
        que las medidas implementadas sean proporcionales a los riesgos
        identificados.</p>
      <p>
        Que mediante dicho enfoque, las autoridades competentes, las
        Instituciones Financieras y las Actividades y Profesiones No
        Financieras Designadas deben ser capaces de asegurar que las medidas
        dirigidas a prevenir o mitigar el LA/FT tengan correspondencia con los
        riesgos identificados, permitiendo tomar decisiones sobre cómo asignar
        sus propios recursos de manera más eficiente.</p>
      <p>
        Que el GAFI ha emitido en el año 2013 una Guía acerca de Personas
        Expuestas Políticamente donde define, en consonancia con lo dispuesto
        en la Recomendación N° 12, que son PEP aquellas personas a quienes se
        les ha confiado una función pública prominente. La relación con el
        Cliente que ya no ejerce una función pública prominente debe estar
        basada en una evaluación del riesgo y no en un límite temporal
        preestablecido. El enfoque basado en riesgo requiere que las
        Instituciones Financieras y las Actividades y Profesionales No
        Financieras Designadas evalúen el riesgo de LA/FT de una PEP que ya no
        ejerce una función pública prominente, y tomen medidas efectivas para
        mitigar esos riesgos.</p>
      <p>
        Que sin perjuicio de ello, corresponde poner en resalto que nuestro
        país ha aprobado, mediante la sanción de la Ley Nº 24.759, la
        “Convención Interamericana contra la Corrupción” adoptada en la tercera
        sesión plenaria de la Organización de los Estados Americanos.</p>
      <p>
        Que la citada Convención define a la “Función Pública” como “toda
        actividad temporal o permanente, remunerada u honoraria, realizada por
        una persona natural en nombre del Estado o al servicio del Estado o de
        sus entidades, en cualquiera de sus niveles jerárquicos” y establece
        que “Funcionario Público”, “Oficial Gubernamental” o “Servidor Público”
        es cualquier funcionario o empleado del Estado o de sus entidades,
        incluidos los que han sido seleccionados, designados o electos para
        desempeñar actividades o funciones en nombre del Estado o al servicio
        del Estado, en todos sus niveles jerárquicos.</p>
      <p>
        Que asimismo, en el artículo II de la mencionada Convención se
        establece que sus propósitos son: “1. Promover y fortalecer el
        desarrollo, por cada uno de los Estados Parte, de los mecanismos
        necesarios para prevenir, detectar, sancionar y erradicar la corrupción
        y; 2. Promover, facilitar y regular la cooperación entre los Estados
        Parte a fin de asegurar la eficacia de las medidas y acciones para
        prevenir, detectar, sancionar y erradicar los actos de corrupción en el
        ejercicio de las funciones públicas y los actos de corrupción
        específicamente vinculados con tal ejercicio”.</p>
      <p>
        Que en el artículo III de esa Convención se prevén medidas preventivas,
        indicándose que: “A los fines expuestos en el Artículo II de esta
        Convención, los Estados Partes convienen en considerar la aplicabilidad
        de medidas, dentro de sus propios sistemas institucionales, destinadas
        a crear, mantener y fortalecer: (...) 4. Sistemas para la declaración
        de los ingresos, activos y pasivos por parte de las personas que
        desempeñan funciones públicas en los cargos que establezca la ley y
        para la publicación de tales declaraciones cuando corresponda (...) 10.
        Medidas que impidan el soborno de funcionarios públicos nacionales y
        extranjeros, tales como mecanismos para asegurar que las sociedades
        mercantiles y otros tipos de asociaciones mantengan registros que
        reflejen con exactitud y razonable detalle la adquisición y enajenación
        de activos, y que establezcan suficientes controles contables internos
        que permitan a su personal detectar actos de corrupción”.</p>
      <p>
        Que mediante la sanción de la Ley Nº 26.097 se aprobó la “Convención de
        las Naciones Unidas contra la Corrupción”, adoptada en Nueva York,
        Estados Unidos de América, el 31 de octubre de 2003.</p>
      <p>
        Que su artículo 2º dispone que a los efectos de esa Convención se
        entenderá por “Funcionario Público” a: “i) toda persona que ocupe un
        cargo legislativo, ejecutivo, administrativo o judicial de un Estado
        Parte, ya sea designado o elegido, permanente o temporal, remunerado u
        honorario, sea cual sea la antigüedad de esa persona en el cargo; ii)
        toda otra persona que desempeñe una función pública, incluso para un
        organismo público o una empresa pública, o que preste un servicio
        público, según se defina en el derecho interno del Estado Parte y se
        aplique en la esfera pertinente del ordenamiento jurídico de ese Estado
        Parte; iii) toda otra persona definida como “funcionario público” en el
        derecho interno de un Estado Parte…”.</p>
      <p>
        Que en el mismo artículo 2° inciso b) dispone a los efectos de esa
        Convención que se entenderá por “Funcionario Público Extranjero” a toda
        persona que ocupe un cargo legislativo, ejecutivo, administrativo o
        judicial de un país extranjero, ya sea designado o elegido; y toda
        persona que ejerza una función pública para un país extranjero, incluso
        para un organismo público o una empresa pública.</p>
      <p>
        Que nuestro país ha aprobado, mediante la sanción de la Ley Nº 25.319,
        la “Convención para Combatir el Cohecho de Funcionarios Públicos
        Extranjeros en Transacciones Comerciales Internacionales” suscripta en
        París, República Francesa, el 17 de diciembre de 1997.</p>
      <p>
        Que la citada Convención en su artículo 7° establece respecto del
        lavado de dinero que “Cada Parte que haya tipificado como delito
        determinante el cohecho de su propio funcionario público, a efectos de
        la aplicación de su legislación sobre lavado de dinero, hará lo mismo y
        en las mismas condiciones respecto del cohecho de un funcionario
        público extranjero, sin tener en cuenta el lugar en que ocurrió el
        cohecho”.</p>
      <p>
        Que asimismo, de conformidad con el artículo 12 de la citada
        Convención, nuestro país se comprometió a cooperar con la realización
        de un programa de seguimiento sistemático para controlar y promover su
        plena aplicación.</p>
      <p>
        Que la <b>OCDE</b> ha emitido en el mes de marzo de 2017 un reporte acerca de
        la implementación de la citada Convención para Combatir el Cohecho de
        Funcionarios Públicos Extranjeros en transacciones Comerciales en el
        marco de la Fase 3 bis del proceso de membresía de la República
        Argentina.</p>
      <p>
        Que en dicho reporte, la OCDE formuló algunas recomendaciones a nuestro
        país sobre la necesidad del fortalecimiento de las medidas de debida
        diligencia para las relaciones contractuales con PEPs, la inclusión de
        algunas categorías a la definición de PEP, como así también el
        aseguramiento de que la debida diligencia sobre PEPs sea realizada con
        un enfoque basado en riesgo y no a partir de un criterio temporal desde
        la fecha de cese de la función pública prominente.</p>
      <p>
        Que por lo expuesto, se considera oportuno establecer una nueva nómina
        de qué personas deben ser consideradas PEP en nuestro país, teniendo en
        cuenta las funciones que desempeñan o han desempeñado, y en su caso el
        vínculo de cercanía o afinidad que posean terceros con las personas que
        desempeñen o hayan desempeñado tales funciones.</p>
      <p>
        Que la UIF ha tenido en consideración lo dispuesto en el artículo 5º de
        la Ley de Ética en el Ejercicio de la Función Pública Nº 25.188.
      </p>
      <p>
        Que se ha incorporado a otros funcionarios que se desempeñan en las
        administraciones públicas provinciales, municipales y de la Ciudad
        Autónoma de Buenos Aires.</p>
      <p>
        Que se ha tenido en cuenta la realidad social, política y económica de
        nuestro país; junto a la relevancia de las funciones, el carácter de
        servicio público y el interés público comprometido en las mismas.</p>
      <p>
        Que la nómina que se aprueba por la presente integra una nueva
        regulación que deberán observar todos los sujetos obligados enumerados
        en el <b>artículo 20 de la Ley N° 25.246</b>, respecto al tratamiento de las
        Personas Expuestas Políticamente desde un enfoque basado en riesgos.</p>
      <p>
        Que la Dirección de Asuntos Jurídicos de esta Unidad ha tomado la intervención que le compete.</p>
      <p>
        Que se dio intervención al <b>BANCO CENTRAL DE LA REPÚBLICA ARGENTINA</b>.</p>
      <p>
        Que el Consejo Asesor emitió su opinión, de acuerdo con lo previsto en el artículo 16 de la Ley Nº 25.246.</p>
      <p>
        Que la presente se dicta en ejercicio de las facultades conferidas por
        la Ley Nº 25.246, y los Decretos N° 290 del 27 de marzo de 2007 y 233
        del 25 de enero de 2016.
      <p>

      <p> Por ello,</p>
      <h2>
        EL PRESIDENTE DE LA UNIDAD DE INFORMACIÓN FINANCIERA</h2>
      <h2>
        RESUELVE:</h2>
      <h2>
        PERSONAS EXPUESTAS POLITICAMENTE EXTRANJERAS.</h2>
      <p>
        Son consideradas Personas Expuestas Políticamente Extranjeras, los
        funcionarios públicos pertenecientes a países extranjeros, que se
        desempeñen o se hayan desempeñado, en alguno de los cargos que se
        detallan a continuación:
      <p>
      <ul>
        <li>
          <p>
            a. Jefe de Estado, jefe de Gobierno, Gobernador, Intendente, Ministro,
            Secretario, Subsecretario de Estado u otro cargo gubernamental
            equivalente.</p>
        </li>
        <li>
          <p>
            b. Miembro del Parlamento, Poder Legislativo, o de otro órgano de naturaleza equivalente.
          </p>
        </li>
        <li>
          <p>
            c. Juez, Magistrado de Tribunales Superiores u otra alta instancia judicial, o administrativa, en el
            ámbito
            del
            Poder Judicial.</p>
        </li>
        <li>
          <p>
            d. Embajador o cónsul, de un país u organismo internacional.
          </p>
        </li>
        <li>
          <p>
            e. Autoridad, apoderado, integrantes del órgano de administración o
            control y miembros relevantes de partidos políticos extranjeros.
          </p>
        </li>
        <li>
          <p>
            f. Oficial de alto rango de las fuerzas armadas (a partir de coronel o
            grado equivalente en la fuerza y/o país de que se trate) o de las
            fuerzas de seguridad pública (a partir de comisario o rango equivalente
            según la fuerza y/o país de que se trate).</p>
        </li>
        <li>
          <p>
            g. Miembro de los órganos de dirección y control de empresas de propiedad estatal.
          </p>
        </li>
        <li>
          <p>
            h. Miembro de los órganos de dirección o control de empresas de
            propiedad privada o mixta; cuando el Estado posea una participación
            igual o superior al VEINTE POR CIENTO (20%) del capital o del derecho a
            voto, o ejerza de forma directa o indirecta el control de la compañía.</p>
        </li>
        <li>
          <p>
            i. Director, gobernador, consejero, síndico o autoridad equivalente de
            bancos centrales y otros organismos de regulación y/o supervisión.</p>
        </li>
        <li>
          <p>
            j. Director, subdirector; miembro de la junta, directorio, alta
            gerencia, o cargos equivalentes, apoderados, representantes legales o
            autorizados, de una organización internacional, con facultades de
            decisión, administración o disposición.</p>
        </li>
      </ul>
      <h2>
        PERSONAS EXPUESTAS POLITICAMENTE NACIONALES.</h2>
      <p>
        Son consideradas Personas Expuestas Políticamente Nacionales, los
        funcionarios públicos del país que se desempeñen o se hayan desempeñado
      </p>
      <h2>en alguno de los siguientes cargos:</h2>
      <ul>
        <li>
          <p>
            a. Presidente o Vicepresidente de la Nación.</p>
        </li>
        <li>
          <p>
            b. Senador o Diputado de la Nación.</p>
        </li>
        <li>
          <p>
            c. Magistrado del Poder Judicial de la Nación.</p>
        </li>
        <li>
          <p>
            d. Magistrado del Ministerio Público de la Nación.</p>
        </li>
        <li>
          <p>
            e. Defensor del Pueblo de la Nación o Defensor del Pueblo Adjunto.
          </p>
        </li>
        <li>
          <p>
            f. Jefe de Gabinete de Ministros, Ministro, Secretario o Subsecretario del Poder Ejecutivo
            Nacional.
          </p>
        </li>
        <li>
          <p>
            g. Interventor federal, o colaboradores del interventor federal con categoría no inferior a
            Director o su
            equivalente.</p>
        </li>
        <li>
          <p>
            h. Síndico General de la Nación o Síndico General Adjunto de la
            Sindicatura General de la Nación; Presidente o Auditor General de la
            Auditoría General de la Nación; autoridad superior de un ente regulador
            o de los demás órganos que integran los sistemas de control del sector
            público nacional; miembros de organismos jurisdiccionales
            administrativos, o personal de dicho organismo, con categoría no
            inferior a la de director o su equivalente.
          </p>
        </li>
        <li>
          <p>
            i. Miembro del Consejo de la Magistratura de la Nación o del Jurado de Enjuiciamiento.
          </p>
        </li>
        <li>
          <p>
            j. Embajador o Cónsul.<br>
          </p>
        </li>
        <li>
          <p>
            k. Personal de las Fuerzas Armadas, de la Policía Federal Argentina, de
            Gendarmería Nacional, de la Prefectura Naval Argentina, del Servicio
            Penitenciario Federal o de la Policía de Seguridad Aeroportuaria con
            jerarquía no menor de coronel o grado equivalente según la fuerza.<br>
          </p>
        </li>
        <li>
          <p>
            l. Rector, Decano o Secretario de las Universidades Nacionales.
          </p>
        </li>
        <li>
          <p>
            m. Funcionario o empleado con categoría o función no inferior a la de
            Director General o Nacional, de la Administración Pública Nacional,
            centralizada o descentralizada, de entidades autárquicas, bancos y
            entidades financieras del sistema oficial, de las obras sociales
            administradas por el Estado, de empresas del Estado, las sociedades del
            Estado y el personal con similar categoría o función, designado a
            propuesta del Estado en sociedades de economía mixta, sociedades
            anónimas con participación estatal o en otros entes del sector público.
          </p>
        </li>
        <li>
          <p>
            n. Funcionario o empleado público nacional encargado de otorgar
            habilitaciones administrativas, permisos o concesiones, para el
            ejercicio de cualquier actividad; como así también todo funcionario o
            empleado público encargado de controlar el funcionamiento de dichas
            actividades o de ejercer cualquier otro control en virtud de un poder
            de policía.
          </p>
        </li>
        <li>
          <p>
            o. Funcionario público de algún organismo de control de servicios
            públicos, con categoría no inferior a la de Director General o Nacional.
          </p>
        </li>
        <li>
          <p>
            p. Personal del Poder Legislativo de la Nación, con categoría no inferior a la de Director.
          </p>
        </li>
        <li>
          <p>
            q. Personal del Poder Judicial de la Nación o del Ministerio Público de la Nación, con categoría
            no
            inferior
            a Secretario.
          </p>
        </li>
        <li>
          <p>
            r. Funcionario o empleado público que integre comisiones de
            adjudicación de licitaciones, de compra o de recepción de bienes, o
            participe en la toma de decisiones de licitaciones o compras.
          </p>
        </li>
        <li>
          <p>
            s. Funcionario público responsable de administrar un patrimonio público
            o privado, o controlar o fiscalizar los ingresos públicos cualquiera
            fuera su naturaleza.</p>
        </li>
        <li>
          <p>
            t. Director o Administrador de alguna entidad sometida al control
            externo del Honorable Congreso de la Nación, de conformidad con lo
            dispuesto en el artículo 120 de la Ley Nº 24.156.
          </p>
        </li>
      </ul>
      <h2>
        PERSONAS EXPUESTAS POLITICAMENTE PROVINCIALES, MUNICIPALES Y DE LA CIUDAD AUTONOMA DE BUENOS
        AIRES.</h2>
      <p>
        Son consideradas Personas Expuestas Políticamente, los funcionarios
        públicos que se desempeñen o se hayan desempeñado en alguno de los
        siguientes cargos, a nivel Provincial, Municipal o de la Ciudad
        Autónoma de Buenos Aires:</p>
      <ul>
        <li>
          <p>
            a. Gobernador o Vicegobernador, Intendente o Vice-intendente, Jefe de Gobierno o Vicejefe de
            Gobierno.
          </p>
        </li>
        <li>
          <p>
            b. Ministro de Gobierno, Secretario, Subsecretario, Ministro de los
            Tribunales Superiores de Justicia de las provincias o de la Ciudad
            Autónoma de Buenos Aires.</p>
        </li>
        <li>
          <p>
            c. Juez o Secretario de los Poderes Judiciales Provinciales o de la Ciudad Autónoma de Buenos
            Aires.
          </p>
        </li>
        <li>
          <p>
            d. Magistrado perteneciente al Ministerio Público, o su equivalente, en las provincias o en la
            Ciudad
            Autónoma
            de
            Buenos Aires.
          </p>
        </li>
        <li>
          <p>
            e. Miembro del Consejo de la Magistratura o del Jurado de
            Enjuiciamiento, o su equivalente, de las Provincias o de la Ciudad
            Autónoma de Buenos Aires.
          </p>
        </li>
        <li>
          <p>
            f. Defensor del Pueblo o Defensor del Pueblo Adjunto, en las Provincias o en la Ciudad Autónoma de
            Buenos
            Aires.
          </p>
        </li>
        <li>
          <p>
            g. Jefe de Gabinete de Ministros, Ministro, Secretario o Subsecretario
            del Poder Ejecutivo de las Provincias o de la Ciudad Autónoma de Buenos
            Aires.</p>
        </li>
        <li>
          <p>
            h. Legislador provincial, municipal o de la Ciudad Autónoma de Buenos Aires.
          </p>
        </li>
        <li>
          <p>
            i. Máxima autoridad de los organismos de control o de los entes
            autárquicos provinciales, municipales o de la Ciudad Autónoma de Buenos
            Aires.</p>
        </li>
        <li>
          <p>
            j. Máxima autoridad de las sociedades de propiedad de los estados
            provinciales, municipales o de la Ciudad Autónoma de Buenos Aires.</p>
        </li>

        <li>
          <p>
            k. Rector, Decano o Secretario de universidades provinciales.
          </p>
        </li>
        <li>
          <p>
            l. Funcionario o empleado público encargado de otorgar habilitaciones
            administrativas, permisos o concesiones, para el ejercicio de cualquier
            actividad; como así también todo funcionario o empleado público
            encargado de controlar el funcionamiento de dichas actividades o de
            ejercer cualquier otro control en virtud de un poder de policía.
          </p>
        </li>
        <li>
          <p>
            m. Funcionario de organismos de control de los servicios públicos
            provinciales o de la Ciudad de Buenos Aires, con categoría no inferior
            a la de Director General o Provincial.
          </p>
        </li>
        <li>
          <p>
            n. Funcionario o empleado público que integre comisiones de
            adjudicación de licitaciones, de compra o de recepción de bienes, o
            participe en la toma de decisiones de licitaciones o compras.
          </p>
        </li>
        <li>
          <p>
            o. Funcionario público que tenga por función administrar un patrimonio
            público o privado, o controlar o fiscalizar los ingresos públicos
            cualquiera fuera su naturaleza.</p>
        </li>
      </ul>
      <h2>
        ARTÍCULO 4º.- OTRAS PERSONAS EXPUESTAS POLITICAMENTE.</h2>
      <p>
        Sin perjuicio de lo expuesto en los artículos precedentes, son
        consideradas Personas Expuestas Políticamente aquellas personas que se
        desempeñen o se hayan desempeñado en alguno de los siguientes cargos:</p>
      <ul>
        <li>
          <p>
            a. Autoridad, apoderado, candidato o miembro relevante de partidos
            políticos o alianzas electorales, ya sea a nivel nacional o distrital,
            de conformidad con lo establecido en las Leyes N° 23.298 y N° 26.215.</p>
        </li>
        <li>
          <p>
            b. Autoridad de los órganos de dirección y administración de
            organizaciones sindicales y empresariales (cámaras, asociaciones y
            otras formas de agrupación corporativa).</p>
        </li>
      </ul>
      <p>
        Con respecto a las organizaciones sindicales, el alcance comprende a
        las personas humanas con capacidad de decisión, administración, control
        o disposición del patrimonio de la organización sindical.</p>

      <p>
        Con respecto a las organizaciones empresariales, el alcance comprende a
        las personas humanas de las mencionadas organizaciones que, en función
        de su cargo:</p>
      <ul>
        <li>
          <p>
            1. tengan capacidad de decisión, administración, control o disposición
            sobre fondos provenientes del sector público nacional, provincial,
            municipal o de la Ciudad Autónoma de Buenos Aires, o
          </p>
        </li>
        <li>
          <p>
            2. realicen actividades con fines de lucro, para la organización o sus
            representados, que involucren la gestión, intermediación o contratación
            habitual con el Estado nacional, provincial, municipal o de la Ciudad
            Autónoma de Buenos Aires.
            <br style="font-style: italic;">
            <span style="font-style: italic;">(Inciso b) sustituido por art. 1° de la <a
                href="http://servicios.infoleg.gob.ar/infolegInternet/verNorma.do?id=320218">Resolución N°
                15/2019</a>
              de
              la
              Unidad de Información Financiera B.O. 25/02/2019)</span>
          </p>
        </li>
        <li>
          <p>
            c. Autoridad, representante legal o integrante de la Comisión Directiva
            de las obras sociales contempladas en la Ley Nº 23.660. El alcance
            comprende a las personas humanas de las mencionadas organizaciones con
            capacidad de decisión, administración, control o disposición del
            patrimonio de las obras sociales.</p>
        </li>

        <li>
          <p>
            d. Las personas humanas con capacidad de decisión, administración,
            control o disposición del patrimonio de personas jurídicas privadas en
            los términos del 148 del Código Civil y Comercial de la Nación, que
            reciban fondos públicos destinados a terceros y cuenten con poder de
            control y disposición respecto del destino de dichos fondos.

            <span style="font-style: italic;">(Inciso d) sustituido por art. 2° de la <a
                href="http://servicios.infoleg.gob.ar/infolegInternet/verNorma.do?id=320218">Resolución N°
                15/2019</a>
              de
              la
              Unidad de Información Financiera B.O. 25/02/2019)</span><br>
          </p>
        </li>
      </ul>
      <h2>
        ARTÍCULO 5º.- PERSONAS EXPUESTAS POLITICAMENTE POR CERCANÍA O AFINIDAD.</h2>
      <p>
        Son consideradas Personas Expuestas Políticamente por cercanía o
        afinidad, todos aquellos sujetos que posean vínculos personales o
        jurídicos con quienes cumplan, o hayan cumplido, las funciones
        establecidas en los <b>artículos 1° a 4° </b> de la presente.</p>
      <ul>
        <li>
          <p>
            A los fines indicados se consideran los siguientes vínculos:
          </p>
        </li>
        <li>
          <p>
            a. Cónyuge o conviviente reconocido legalmente.<br></p>
        </li>
        <li>
          <p>
            b. Familiares en línea ascendente, descendente, y colateral hasta el segundo grado de
            consanguinidad o
            afinidad.
            <span style="font-style: italic;">(Inciso b) sustituido por art. 3° de la <a
                href="http://servicios.infoleg.gob.ar/infolegInternet/verNorma.do?id=320218">Resolución N°
                15/2019</a>
              de
              la
              Unidad de Información Financiera B.O. 25/02/2019)</span><br>
          </p>
        </li>
        <li>
          <p>
            c. Personas allegadas o cercanas: debe entenderse como tales a aquellas
            personas públicas y comúnmente conocidas por su íntima asociación a la
            persona definida como Persona Expuesta Políticamente.</p>
        </li>
        <li>
          <p>
            d. Personas con las cuales se hayan establecido relaciones jurídicas de
            negocios del tipo asociativa, aún de carácter informal, cualquiera
            fuese su naturaleza.</p>
        </li>
        <li>
          <p>
            e. Toda otra relación o vínculo que por sus características y en
            función de un análisis basado en riesgo, a criterio del sujeto
            obligado, pueda resultar relevante.</p>
        </li>
      </ul>

      <h2>
        ANALISIS DEL NIVEL DEL RIESGO. MONITOREO.</h2>
      <p>
        Sin perjuicio de lo dispuesto en la regulación particular establecida
        para los sujetos obligados enumerados en el artículo 20 de la Ley
        25.246, éstos deberán determinar el nivel de riesgo al momento de
        iniciar o continuar con la relación contractual con una Persona
        Expuesta Políticamente, contemplando al menos los siguientes parámetros:</p>
      <ul>
        <li>
          <p>a. El objetivo y riesgo inherente de la relación comercial.</p>
        </li>
        <li>
          <p>
            b. Características de las operaciones:</p>
        </li>
        <li>
          <p>
          <ul>
            <li>
              <p>
                1. Cuantía, naturaleza y complejidad de los productos o servicios
                comprendidos, canales de distribución, localización geográfica y países
                vinculados a la operación u operaciones comerciales implicadas.</p>
            </li>
            <li>
              <p>
                2. Riesgo propio de las operaciones: uso de efectivo en forma
                intensiva, transacciones de alto valor, la complejidad y diversidad de
                productos o servicios, empleo de múltiples jurisdicciones, uso de
                patrimonios de afectación y la dificultad de identificar el
                beneficiario final.</p>
            </li>

            <li>
              <p>
                3. Origen de los fondos o bienes involucrados.</p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            c. Actuales o potenciales conflictos de intereses.</p>
        </li>
        <li>
          <p>
            d. Si el ejercicio de la función pública, guarda relación con
            actividades que poseen antecedentes de exposición a altos niveles de
            corrupción.</p>
        </li>
        <li>
          <p>
            e. Si el ejercicio de determinada función pública es de relevancia tal,
            que pudiera tornar dificultosa la implementación, por parte de los
            sujetos obligados, de las políticas y procedimientos de prevención del
            lavado de activos y el financiamiento del terrorismo.</p>
        </li>
        <li>
          <p>
            f. Vigencia del ejercicio de la función pública; una vez transcurridos
            dos años contados a partir de la fecha del cese en el ejericio de la
            función pública se deberá evaluar la situación del cliente o
            beneficiario final mediante un enfoque basado en riesgos, tomando en
            consideración la relevancia de la función desempeñada, la potestad de
            disposición y/o administración de fondos y la antigüedad en la función
            pública ejercida, entre otros factores de relevancia para el análisis
            del nivel de riesgo.</p>
        </li>
      </ul>
      <p>
        Deberá asimismo tenerse en cuenta el ejercicio de cargos sucesivos en
        la misma, o diferente jurisdicción, su nivel jerárquico y relevancia.
      </p>
      <p>
        En atención a lo expuesto, las Personas Expuestas Políticamente serán
        objeto de medidas de debida diligencia, adecuadas y proporcionales al
        riesgo asociado y la operación u operaciones involucradas.</p>
      <p>
        El mismo tratamiento deberá propinarse a las personas consignadas en el
        artículo 5°, teniendo en consideración el grado de cercanía o afinidad
        con la Persona Expuesta Políticamente vinculada.</p>
      <p>
        En todos los casos tendrán que implementarse reglas de control de
        operaciones y alertas automatizadas, de modo que resulte posible
        monitorear, en forma intensa y continua, la ejecución de operaciones y
        su adecuación al Perfil del Cliente, su nivel de riesgo y las posibles
        desviaciones en éste; a fin de tomar medidas oportunas para impedir la
        comisión de los delitos contemplados en la Ley N° 25.246.</p>
      <p>
        Sin perjuicio de ello, los sujetos obligados deberán establecer niveles
        de aprobación de la relación con esta clase Clientes, en función del
        riesgo que estos presenten.
      </p>
      <p>
        Las PEP extranjeras son consideradas de alto riesgo, en consecuencia
        deberán ser objeto de medidas de debida diligencia reforzada, salvo en
        los casos de PEP de Organizaciones Internacionales en los que se deberá
        determinar el nivel de riesgo y, en su caso, se deberán aplicar medidas
        de debida diligencia adecuadas y proporcionales al riesgo asociado y la
        operación u operaciones involucradas. <span style="font-style: italic;">(Párrafo incorporado por
          art. 1°
          de
          la
          <a href="http://servicios.infoleg.gob.ar/infolegInternet/verNorma.do?id=332925">Resolución N°
            128/2019</a>
          de
          la
          Unidad de Información Financiera B.O. 06/12/2019)</span>
      </p>

      <h2>DECLARACIÓN JURADA DE PEP.</h2>
      <p>
        Los sujetos obligados enumerados en el artículo 20 de la Ley N° 25.246,
        deberán requerir a sus Clientes, al momento de iniciar la relación
        contractual, que suscriban una declaración jurada donde manifiesten si
        revisten o no la condición de Persona Expuesta Políticamente.</p>
      <p>
        En forma previa a la firma de la declaración jurada de Persona Expuesta
        Políticamente, los sujetos obligados deberán poner en conocimiento de
        sus Clientes el contenido de la presente Resolución a fin de que
        manifiesten si se encuentran incluidos en la nómina de personas
        establecidas en los artículos 1° a 5°.
      </p>
      <p>
        La suscripción de la declaración jurada de Persona Expuesta
        Políticamente, podrá ser conformada tanto presencialmente o a través de
        medios electrónicos o digitales, dejando constancia de las evidencias
        correspondientes.</p>
      <h2>VERIFICACIÓN DE LA CONDICIÓN DE PEP.</h2>
      <p>Los sujetos obligados deberán verificar en todos los casos, y con un
        enfoque basado en riesgo, la condición de Persona Expuesta
        Políticamente respecto de sus Clientes y sus Beneficiarios Finales.</p>
      <p>
        Podrán requerir información, o en su caso documentación, respecto de la
        actividad desarrollada por sus Clientes, a efectos de determinar si el
        origen de los fondos involucrados en las operaciones se encuentran
        vinculados con el ejercicio de las funciones establecidas en los
        artículos 1° y 4° de la presente, o puedan provenir de una persona
        relacionada por cercanía o afinidad en los términos del artículo 5° de
        esta Resolución.</p>
      <p>
        La condición de PEP también podrá ser verificada mediante fuentes
        públicas, tales como las contenidas en boletines oficiales, registros
        de cualquier tipo, u otras, y por medio de fuentes privadas que por su
        reconocimiento y prestigio puedan brindar razonable certeza sobre la
        veracidad de su contenido, tales como proveedores de información
        crediticia, servicios de validación de identidad, medios de prensa, u
        otras.</p>
      <p>
        En todos los casos, los sujetos obligados deberán guardar las evidencias correspondientes de la
        verificación
        realizada.
      </p>
      <h2>REQUERIMIENTOS ESPECIALES.</h2>
      <p>
        Cuando se formulen Reportes de Operaciones Sospechosas donde se
        encuentren involucradas Personas Expuestas Políticamente, los sujetos
        obligados deberán dejar debida constancia de ello al efectuar la
        descripción de la operatoria.</p>
      <p>De igual modo deberán proceder respecto de los Reportes de Operaciones Sospechosas de
        Financiación del
        Terrorismo.
      </p>
      <b>La presente Resolución comenzará a regir a los CIENTO
        VEINTE (120) días corridos de su publicación en el Boletín Oficial;
        oportunidad en que perderá vigencia la Resolución UIF N° 11/2011.</b>
      <div style="text-align: right;">e. 23/11/2018 N° 89264/18 v. 23/11/2018
      </div>
    </div>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Close()">
      Entendido
    </div>
  </div>
</ion-content>