.refresher{
    z-index: 1;
    height: 79px; 
    width: 100%;
    margin-top: -8%;
    background-color: transparent;
    display: block;
    margin-right: auto;
    flex-direction: column;
    position: relative;
}
.refresher-refreshing{
    margin-top: 1%;
}
.noWrap{
    flex-wrap: nowrap;
}  
a{
    font-size: small;
}