<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="contenedor-90">
    <div class="content-filtro">
      <h1>Listado de Usuarios</h1>
      <!-- <ion-icon class="filtro" (click)="presentModal()" name="list"></ion-icon> -->
    </div>
    <p>Acá podes ver todos los usuarios que manejan de tu cuenta.</p>
    
    <div class="lista-ultimos-movimientos mt-10" *ngIf="usuarios!=undefined && usuarios.length > 0">
        <ion-refresher [class]="class_refresher" slot="fixed" (ionStart)="mostrar($event)"
          (ionRefresh)="refresh($event)">
          <ion-refresher-content refreshingText="Recargando..." refreshingSpinner="bubbles">
          </ion-refresher-content>
        </ion-refresher>
        <div class="movimientos-wrapper">
          <div class="movimiento" *ngFor="let usuario of usuarios" >
              <div class="texto" (click)="ver_permisos(usuario)">
                <h4>{{usuario.username}}</h4>
                <div class="row">
                  <div class="col">
                      <span>{{usuario.nombre}}</span>
                  </div>
                  <div class="col">
                    <span>{{usuario.documento}}</span>
                  </div>
              </div>
            </div>
            <div >
              <a  (click)="reenviar_url(usuario)">Reenviar correo</a>
          </div>
            <div >
                <ion-toggle [(ngModel)]="usuario.activo" (click)="cambiar_estado(usuario)"></ion-toggle>
            </div>
          </div>
        </div>
    </div>
    <div   class="mensaje-bienvenida" *ngIf="!usuarios || usuarios.length == 0">
      <ion-icon name="wallet-outline"></ion-icon>
      <h1>No hay Usuarios para ver</h1>
      
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarmas($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="nuevo()">Crear</div>
    
  </div>
</ion-content>