<ion-content>
  <ion-slides>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/img/slider1.jpg" alt="">
      </div>
      
      <div class="contenedor-80">
        <h1 class="align-left">La billetera virtual que tiene todo lo que necesitás</h1>
        <p class="align-left">Es simple, segura y la vas a llevar con vos a todos lados.</p>
      </div>
     
    </ion-slide>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/img/slider2.jpg" alt="">
      </div>
      
      <div class="contenedor-80">
        <h1 class="align-left">Abrí tu cuenta gratis en pocos minutos</h1>
        <p class="align-left"><span class="semi-bold">¡Es súper fácil!</span> Además vas a poder controlar cada movimiento que se realice.</p>
      </div>
    </ion-slide>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/img/slider3.jpg" alt="">
      </div>
    </ion-slide>
  </ion-slides>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Registrarse()">
      Crear cuenta
    </div>
    <a (click)="Ingreso()" class="link semi-bold">Ya tengo cuenta</a>
  </div>
</ion-content>
