<ion-content>
  <ion-slides>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/1_Bienvenida - 1.png" alt="">
        
      </div>
      
      <div class="contenedor-80">
        <h1 class="align-left">La billetera virtual que tiene todo lo que necesitás</h1>
        <p class="align-left">Es simple, segura y la vas a llevar con vos a todos lados.</p>
      </div>
     
    </ion-slide>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/1_Bienvenida – 2.png" alt="">
      </div>
      
      <div class="contenedor-80">
        <h1 class="align-left">Abrí tu cuenta gratis en pocos minutos</h1>
        <p class="align-left"><span class="semi-bold">¡Es súper fácil!</span> Además vas a poder controlar cada movimiento que se realice.</p>
      </div>
      
    </ion-slide>
    <ion-slide class="slider">
      <div class="imagen">
        <img src="assets/1_Bienvenida – 3.png" alt="">
      </div>
      <div class="contenedor-80">
        <h1 class="align-left">Podes manejar tu dinero y el de tu empresa</h1>
        <p class="align-left">Todo en un solo lugar <span class="semi-bold">¡Al alcance de tu mano!</span></p>
      </div>
      
    </ion-slide>
  </ion-slides>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Registrarse()">
      Crear mi cuenta
    </div>
    <a (click)="Ingreso()" class="link semi-bold">Ya tengo cuenta</a>
  </div>
</ion-content>
