<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content class="centrado transferencias">
  <div class="imagen">
    <img src="../../assets/icon/check-mark.svg" alt="Operación realizada correctamente">
  </div>
  <div class="contenedor-90 align-center">
    <h1 *ngIf="envio" class="align-center">¡Dinero enviado!</h1>
    <h1 *ngIf="pedido" class="align-center">¡Dinero Pedido!</h1>
    <!-- Modulo Destinatario Seleccionado -->
    <div *ngIf="is_array(nombre)">
      <div class="destinatario-seleccionado success" *ngFor="let items of nombre">
        <div class="avatar-wrapper">
          <div class="avatar">{{libs.iniciales(items.nombre)}}</div>
        </div>
        <div class="info-resultado">
          <h4 class="nombre">{{this.libs.capitalize(items.nombre)}} {{this.libs.capitalize(items.apellido)}}</h4>
          <span class="cbu">{{items.dato}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!is_array(nombre)">
      <div class="destinatario-seleccionado success">
        <div class="avatar-wrapper">
          <div class="avatar">{{inciales()}}</div>
        </div>
        <div class="info-resultado">
          <h4 class="nombre">{{this.libs.capitalize(nombre)}} {{this.libs.capitalize(apellido)}}</h4>
          <span class="cbu">{{dato}}</span>

        </div>
      </div>
    </div>
    
    <p *ngIf="pedido" class="align-center full">Le pediste</p>
    <p *ngIf="envio" class="align-center full">Le enviaste</p>
    <div class="monto">$ {{monto}}</div>
  </div>
  <div class="onboarding-btn-group">
    <a (click)="compartirComprobante()" class="link">Compartir comprobante</a>
    <div class="btn-round activo" (click)="finalizar()">
      Finalizar
    </div>
  </div>

</ion-content>