<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>Elegí si querés enviar <br />
      o pedir dinero a un amigo</h1>
    <div class="botonera">
      <div class="boton pedir-dinero" (click)="enviardinero();">
        <img src="assets/img/amigos/enviar-dinero.svg" alt="Enviar dinero a un amigo">
        <h2>Enviar dinero</h2>
      </div>
      <div class="boton enviar-dinero" (click)="pedirdinero();">
        <img src="assets/img/amigos/pedir-dinero.svg" alt="Pedir dinero a un amigo">
        <h2>Pedir dinero</h2>
      </div>
    </div>
    <!-- Pedidos en espera -->
    <div class="lista-pedidos-espera">
      <div class="titulo">
        <h2>Pedidos en espera</h2>
      </div>
      <div class="pedidos-wrapper" *ngIf="(pedidos.length>0 || envios.length>0)">
        <div class="pedido" *ngFor="let item of pedidos">
          <div class="imagen">
            <img src="assets/img/mov-pago.svg" alt="Pagaste">
          </div>
          <div class="texto">
            <h4>{{item.nombre}} te pide a vos</h4>
            <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
              date:'hh:mma'}}</span>
          </div>
          <div class="monto">${{item.monto}} </div>
          <div class="botones">
            <div class="boton aceptar" (click)="aceptar(item)">Aceptar</div>
            <div class="boton rechazar" (click)="rechazar(item)">Rechazar</div>
          </div>
        </div>
        <div class="pedido" *ngFor="let item of envios">
          <div class="imagen">
            <img src="assets/img/mov-pago.svg" alt="Pagaste">
          </div>
          <div class="texto">
            <h4>Le pediste a {{item.nombre}}</h4>
            <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
              date:'hh:mma'}}</span>
          </div>
          <div class="monto"> ${{item.monto}} </div>
          <div class="botones">
          </div>
        </div>
        <div class="pedidos-wrapper" *ngIf="pedidos.length < 1 && envios.length < 1">
          <div class="pedido">
            <div class="imagen">
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
            <div class="texto">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </div>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <div class="botones">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lista Ultimos Movimientos -->
    <div class="lista-ultimos-movimientos">
      <div class="titulo">
        <h2>Últimos movimientos</h2>
      </div>
      <div class="movimientos-wrapper">
        <div class="movimiento" *ngFor="let item of historial_pedidos">
          <div class="imagen">
            <img src="assets/img/mov-recibiste.svg" alt="Recibiste">
          </div>
          <div class="texto">
            <h4>Recibiste de {{item.nombre}}</h4>
            <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
              date:'hh:mma'}}</span>
          </div>
          <div class="monto"> ${{item.monto}} </div>
        </div>
        <div class="movimiento" *ngFor="let item of historial_envios">
          <div class="imagen">
            <img src="assets/img/mov-pago.svg" alt="Pagaste">
          </div>
          <div class="texto">
            <h4>Enviaste a {{item.nombre}}</h4>
            <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha |
              date:'hh:mma'}}</span>
          </div>
          <div class="monto"> -${{item.monto}} </div>
        </div>
        <!-- <div class="movimiento">
            <div class="imagen">
              <img src="assets/img/mov-pago.svg" alt="Pagaste">
            </div>
            <div class="texto">
              <h4>Pagaste a Florencia Pisandelli</h4>
              <span>20 de mayo - 15:45pm</span>
            </div>
            <div class="monto"> -$456 </div>
        </div> -->

      </div>
    </div>


  </div>
  <div class="onboarding-btn-group">
    <a (click)="agregarAmigo()" class="link">Agregar nuevo amigo</a>
  </div>
</ion-content>