<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="home" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>Elegí si querés enviar <br /> 
      o pedir dinero a un amigo</h1>
    <div class="botonera">
      <!-- <div class="boton pedir-dinero" (click)="enviardinero();">
        <img src="assets/img/amigos/enviar-dinero.svg" alt="Enviar dinero a un amigo">
        <h2>Enviar dinero</h2>
      </div> -->
      <div class="boton enviar-dinero" (click)="pedirdinero();">
        <img src="assets/img/amigos/pedir-dinero.svg" alt="Pedir dinero a un amigo">
        <h2>Pedir dinero</h2>
      </div>
    </div>
    <div class="ultimos-movimientos">
      <ion-card class="full">
        <ion-card-header>
          <ion-card-title>Movimientos pendientes </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list class="lista-movimientos">
            <ion-item class="movimiento-wrapper" *ngFor="let item of envios">
              <div class="movimiento">
                <img src="assets/img/mov-pago.svg" alt="Pagaste">
                <div class="resumen">
                  <h4>Pagaste a {{item.nombre}}</h4>
                  <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha | date:'hh:mma'}}</span>
                </div>
              </div>
              <div class="monto"> -${{item.monto}} </div>
            </ion-item>
            <ion-item class="movimiento-wrapper" *ngFor="let item of pedidos">
              <div class="movimiento">
                <img src="assets/img/mov-recibiste.svg" alt="Recibiste">
                <div class="resumen">
                  <h4>Recibiste de {{item.nombre}}</h4>
                  <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha | date:'hh:mma'}}</span>
                </div>
              </div>
              <div class="monto"> ${{item.monto}} </div>
            </ion-item>
           
          </ion-list>
          
        </ion-card-content>
        
      </ion-card>
      <ion-card class="full">
        <ion-card-header>
          <ion-card-title>Historial </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list class="lista-movimientos">
            <ion-item class="movimiento-wrapper" *ngFor="let item of historial_envios">
              <div class="movimiento">
                <img src="assets/img/mov-pago.svg" alt="Pagaste">
                <div class="resumen">
                  <h4>Pagaste a {{item.nombre}}</h4>
                  <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha | date:'hh:mma'}}</span>
                </div>
              </div>
              <div class="monto"> -${{item.monto}} </div>
            </ion-item>
            <ion-item class="movimiento-wrapper" *ngFor="let item of historial_pedidos">
              <div class="movimiento">
                <img src="assets/img/mov-recibiste.svg" alt="Recibiste">
                <div class="resumen">
                  <h4>Recibiste de {{item.nombre}}</h4>
                  <span>{{ item.fecha | date:'dd'}} de {{ fecha_espaniol(item.fecha | date:'M')}} - {{ item.fecha | date:'hh:mma'}}</span>
                </div>
              </div>
              <div class="monto"> ${{item.monto}} </div>
            </ion-item>
           
          </ion-list>
          
        </ion-card-content>
        
      </ion-card>
    </div>


    
    <!-- Modulo de lista de amigos -->
    <!-- <h1>Lista de amigos</h1>
    <h2>Tus amigos</h2>
    <ion-searchbar mode="ios" placeholder="Buscar"></ion-searchbar>
    <ion-list class="lista-amigos">
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list> -->
  </div>
  <div class="onboarding-btn-group">
    <a (click)="agregarAmigo()" class="link">Agregar nuevo amigo</a>
  </div>
</ion-content>
