<ion-header>
  <ion-toolbar>
    
    <ion-title>Mi CVU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>Mi CVU
      </h1>
    <p>Generamos automáticamente tu CVU y tu alias para que puedas realizar   operaciones en nuestra app.
    </p>
    
    <!-- CVU Modulo -->
    <div class="cvu-modulo">
      <h2>CVU:</h2>
      <h2 class="cvu-numero">435345345345345345345</h2>
      <a class="link">Copiar</a>
    </div>
    <div class="alias-modulo">
      <h2>Alias:</h2>
      <h2 class="alias-referencia">mi.alias.elegido</h2>
      <a class="link">Copiar</a>
    </div>

  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Close();">Cerrar</div>
  </div>
</ion-content>
