<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/cuentacreada.jpg" alt="">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">¡Muy Bien!
      <br>¡Ya creaste tu usuario!</h1>
    <p class="align-center">Ahora, vamos a pedirte unos datos más para continuar con el proceso. Esto lo vas a hacer por
      única vez.
    </p>


  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" (click)="Legales()">
      Continuar
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.4"></ion-progress-bar>
</ion-footer>
