<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos de mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuenta">
  <div class="contenedor-90">
    <div class="user-header">
      <div class="avatar">
        {{iniciales}}
      </div>
      <h1 class="nombreUsuario">{{username}}</h1>
    </div>
    <div class="datos-cuenta">
      <h2>Datos de la cuenta</h2>
      <div class="input-container with-label">
        <ion-item id="celularItem">
          <ion-label position="stacked">Celular</ion-label>
          {{celular}}
          <ion-input type="text" [readonly]="editar_cel" placeholder="+54 11 51312789" [(ngModel)]="celular">
          </ion-input>
        </ion-item>
        <div class="icon">
          <ion-icon slot="end" name="create-outline" (click)="EditarCel()"></ion-icon>
        </div>
        <ion-item #emailItem>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input type="email" [readonly]="editar_mail" placeholder="riki.fort@gmail.com" [ngModel]="email">
          </ion-input>
        </ion-item>
        <div class="icon">
          <ion-icon slot="end" name="create-outline" (click)="EditarMail()"></ion-icon>
        </div>
        <ion-item #passwordItem>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [readonly]="editar_pass" #password placeholder="********"></ion-input>
        </ion-item>
        <div class="icon">
          <ion-icon slot="end" name="create-outline" (click)="EditarPass()"></ion-icon>
        </div>
      </div>
    </div>
    <div class="datos-personales">
      <h2>Datos personales</h2>
      <div class="input-container with-label">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" readonly="true" placeholder="Ricardo" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input type="text" readonly="true" placeholder="Fort" [(ngModel)]="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">DNI</ion-label>
          <ion-input type="text" readonly="true" placeholder="12345678" [(ngModel)]="dni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Sexo</ion-label>
          <ion-input type="text" readonly="true" placeholder="Masculino" [(ngModel)]="sexo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nacionalidad</ion-label>
          <ion-input type="text" readonly="true" placeholder="Argentina" [(ngModel)]="nacionalidad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <ion-input type="text" readonly="true" placeholder="01/01/1990" [(ngModel)]="fecha_nac"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CUIL/CUIT</ion-label>
          <ion-input type="text" readonly="true" placeholder="20123456789" [(ngModel)]="cuil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Domicilio</ion-label>
          <ion-input type="text" readonly="true" placeholder="Av. Siempre viva 123" [(ngModel)]="domicilio"></ion-input>
        </ion-item>
        <div class="icon">
          <ion-icon slot="end" name="create-outline"></ion-icon>
        </div>
      </div>
      <div class="mis-tc">
        <a (click)="ver_tc()">Mis tarjetas</a>
      </div>
      <div class="eliminar-cuenta">
        <a href="/eliminar-cuenta"> Eliminar cuenta</a>
      </div>
    </div>


  </div>
</ion-content>