<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    Vamos a generar tu usuario.
  </h1>
  <p class="align-left"> Si ya tenes un usuario registrado ingresalo ahora, sino ingresa tu nuevo usuario.</p>
  <div class="form">
    <ion-item class="input-container with-label">
      <ion-label position="floating">Ingresá tu Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text" (focusout)="validar_usuario()"></ion-input>
      <ion-icon slot="end" name="checkmark-sharp" color="success" *ngIf="usuario && errorusuario!=null && !errorusuario"></ion-icon >
        <ion-icon slot="end" name="close-sharp" color="danger" *ngIf="usuario && errorusuario!=null && errorusuario"></ion-icon >
    </ion-item>
    <div class="validationMsg" *ngIf="usuario && errorusuario">
      <div class="msg full danger" color="danger">
        El usuario elegido no esta disponible.
      </div>
    </div>
  </div>  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round inactivo" *ngIf="!usuario">
    Continuar
  </div>
  <div class="btn-round activo" *ngIf="usuario  && !errorusuario" (click)="Continuar()">
    Continuar
  </div>
</div>
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.2"></ion-progress-bar>
</ion-footer>
<!-- <div class="arriba" *ngIf="cargando">
  <ion-spinner name="crescent"></ion-spinner>
  <div  >
      <ion-label>Validando Datos espere...</ion-label>
  </div>
  
</div> -->