<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferir Dinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="transferencias">
  <div class="contenedor-90">
    <h1>¿Cuánto dinero <br>querés transferir?</h1>
    <p>Escribí el monto exacto o elegí alguna de las opciones.
    </p>
    <!-- Modulo de monto -->
    <h2 class="align-center pt-5">Escribí el monto</h2>
    <ion-item class="input-monto">
      <ion-label position="fixed">$</ion-label>
      <ion-input [(ngModel)]="monto" type="number" pattern="[0-9]*" maxlength="10"></ion-input>
    </ion-item>
    <div class="validationMsg" *ngIf="monto >10000000">
      <div class="msg full danger align-center pt-2">Superaste el monto máximo</div>
    </div>
    <div class="input-container full campos-transferencia">
      <ion-list>
        <ion-item class="dropdown-select">
          <ion-select [(ngModel)]="motivo" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Motivo">
            <ion-select-option value="varios">Varios</ion-select-option>
            <ion-select-option value="alquiler">Alquiler</ion-select-option>
            <ion-select-option value="cuotas">Cuotas</ion-select-option>
            <ion-select-option value="expensas">Expensas</ion-select-option>
            <ion-select-option value="honorarios">Honorarios</ion-select-option>
            <ion-select-option value="seguro">Seguro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Mensaje" [(ngModel)]="mensaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="onboarding-btn-group">
    <div class="btn-round activo" *ngIf="monto && mensaje && motivo" (click)="Continuar()">Continuar</div>
    <div class="btn-round inactivo" *ngIf="!monto || !mensaje || !motivo">Continuar</div>
  </div>
</ion-content>
