<ion-header>
  <ion-toolbar>

    <ion-title>Efectivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>¿Querés ingresar <br>
      dinero en efectivo?
    </h1>
    <p>¡Podés hacerlo! Para eso, presentate en cualquiera de las siguientes redes de pago.
    </p>
    <div class="redes-pago">
      <img src="assets/img/ingreso/rapipago.svg" alt="Rapipago">
      <img src="assets/img/ingreso/pagofacil.svg" alt="Pagofacil">
      <img src="assets/img/ingreso/cobroexpress.svg" alt="Cobroexpress">
    </div>
    <h2>Solo debes presentar este codigo en la boca de cobranza.</h2>
    <!-- CVU Modulo -->
    <div class="cvu-modulo">
      <h2>Codigo de pago:</h2>
      <h2 class="cvu-numero" *ngIf="barcode">{{barcode}}</h2>
      <ion-skeleton-text animated class="cvu-numero" *ngIf="!barcode">{{barcode}}</ion-skeleton-text>
      <a class="link" (click)="copy(barcode)">Copiar</a>
    </div>
    <div class="alias-modulo" *ngIf="mostrar_pmc">
      <h2>Codigo PagoMisCuentas/redLink:</h2>
      <h2 class="alias-referencia" *ngIf="pmc19">{{pmc19}}</h2>
      <ion-skeleton-text animated class="alias-referencia" *ngIf="!pmc19">{{pmc19}}</ion-skeleton-text>
      <a class="link" (click)="copy(pmc19)">Copiar</a>
    </div>
   <h2 class="align-center">El monto mínimo a cargar en tu cuenta es de $500.
  </h2>
    
    
   
  </div>
  <div class="onboarding-btn-group">
   <div class="btn-round outline" (click)="Home();">Volver al inicio</div>
    
  </div>
</ion-content>
