<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Efectivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>¿Querés ingresar <br>
      dinero en efectivo?
    </h1>
    <p>¡Podés hacerlo! Para eso, presentate en cualquiera de las siguientes redes de pago.
    </p>
    <div class="redes-pago">
      <img src="assets/img/ingreso/rapipago.svg" alt="Rapipago">
      <img src="assets/img/ingreso/pagofacil.svg" alt="Pagofacil">
      <img src="assets/img/ingreso/cobroexpress.svg" alt="Cobroexpress">
    </div>
    <h2>Acordate de llevar tu DNI para poder realizar 
      la operación. Van a necesitar tu número de documento 
      y acreditar tu identidad.
      </h2>
    <!-- CVU Modulo -->
    <div class="cvu-modulo">
      <h2>Numero 1:</h2>
      <h2 class="cvu-numero">435345345345345345345</h2>
      <a class="link">Copiar</a>
    </div>
    <div class="alias-modulo">
      <h2>Numero 2:</h2>
      <h2 class="alias-referencia">234234</h2>
      <a class="link">Copiar</a>
    </div>
   <h2 class="align-center">El monto mínimo a cargar en tu cuenta es de $500.
  </h2>
    
    
   
  </div>
  <div class="onboarding-btn-group">
   <div class="btn-round outline" (click)="Home();">Volver al inicio</div>
    
  </div>
</ion-content>
