.destinatarios {
  .contenedor-90 {
    padding: 5% 0;

    .user-header {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;

      .avatar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: $principal;
        color: $white;
        border: 4px solid $border-rgba;
        font-size: 150%;

      }
    }

    .botonera {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 10%);
      border-radius: 20px;
      margin: 30px 0;

      .boton {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        padding: 10px 15px;
        border-top: 1px solid $border-rgba;

        h2 {
          margin: 0;
          padding: 0;
          padding-left: 10px;
        }
      }

      .boton:nth-of-type(1) {
        border: none;
      }

    }

    ion-list {
      background: transparent !important;
    }

    ion-item {
      --background: transparent !important;
    }

    .lista-destinatarios {
      .destinatario-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.05);

        &:last-of-type {
          border: none;
        }

        .destinatario {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;

          .avatar-wrapper {
            width: 20%;

            .avatar {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: $principal;
              color: $white;
              border: 4px solid $border-rgba;
              font-size: 100%;
            }
          }

          .info-destinatario {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;

            .nombre {
              margin: 0;
              padding: 0;
              width: 100%;
              font-size: 14px;
            }

            .banco {
              color: $btn-inactivo-txt;
              font-size: 12px;
              width: 100%;
            }
          }

          .icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: flex-end;
            width: 20%;
            font-size: 180%;
          }
        }
      }
    }

    .resultado-agrega {
      width: 100%;
      border: 1px solid $border-rgba;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      margin-top: 2%;
      padding: 20px 5%;
      border-radius: 20px;

      .avatar-wrapper {
        width: 20%;

        .avatar {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $principal;
          color: $white;
          border: 4px solid $border-rgba;
          font-size: 100%;
        }
      }

      .info-resultado {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0px;

        .nombre {
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 16px;
        }

        .banco,
        .cbu,
        .tipo-cuenta {
          color: $btn-inactivo-txt;
          font-size: 12px;
          width: 100%;
        }
      }
    }
  }
}

.linkpago {
  .renglon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid $border-rgba;
    margin: 5% 0;
    padding: 10px 5px;

    h2 {
      width: 50%;
      margin: 0;
    }

    .valor {
      width: 50%;
      text-align: right;
      padding-right: 15px;
    }
  }

  .renglon:last-of-type {
    margin-bottom: 5%;
  }

  .share {
    width: 60%;
    margin: 5% auto;
  }

  .finalizar {
    margin-top: 20%
  }
}

.destinatarios-seleccionados {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  .destinatario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50px;

    .avatar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $principal;
      color: $white;
      border: 4px solid $border-rgba;
      font-size: 70%;
    }

    .nombre {
      padding-top: 5px;
      width: 100%;
      font-size: 70%;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.destinatarios-seleccionados-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  .destinatario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
    margin: 15px 0;

    .avatar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $principal;
      color: $white;
      border: 4px solid $border-rgba;
      font-size: 70%;
    }

    .nombre {

      width: 50%;
      font-size: 70%;
    }
  }
}

.monto {
  font-size: 120%;
  width: 100%;
  font-weight: 400;
}

.montos-fijos {
  margin: 50px 0;

  .monto {
    font-size: 100% !important;
  }
}
