ion-menu {
    ion-content {
        .user-header {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 30px ;
            border-bottom: 2px solid rgba(112, 112, 112,0.05);
            .avatar {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $principal;
                color: $white;
                border: 4px solid $border-rgba;
                font-size: 150%;
            
            }
            .user-info {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                font-weight: 800;
                padding-left: 10px;
                .bienvenida {
                    font-size: 120%;
                    font-weight: 800;
                    width: 100%;
                }
                .username {
                    font-weight: 600;
                }
                .cvu {
                    width: 100%;
                    color: $link-color;
                    font-weight: 800;
                    font-size: 80%;
                    padding: 5px 0;
                }
            }   
        }
        .menu-lista {
            width: 100%;
            padding: 10px 30px;
            border-bottom: 2px solid rgba(112, 112, 112,0.05);
            &:last-of-type {
                border: none;
            }
            a {
                width: 100%;
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                img {
                width: 20px;
                }
                p {
                    color: $dark-gray;
                    font-weight: 500;
                    padding-left: 10px;
                    font-size: 90%;
                }
            }
        }   
    }
    
}

.menu-custom {
    --width: 90%;
    --min-width: 70%;
    --max-width: 90%;
}