<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="/lostpassword" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    ¡Listo! Te enviamos el código
    a bxxxx@gmail.com  </h1>
  <p class="align-left">Estás a muy poco de recuperar tu contraseña y volver a ingresar a tu billetera virtual. </p>
  <div class="form">
    <h2 class="align-center">Escribí tu código de confirmación</h2>
    <div class="input-container confirma-sms">
      <ion-item class="number-code">
        <ion-input type="text" maxlength="1" class="align-center"  #passcode1 (keyup)="onKeyUp($event,1)"></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="text" maxlength="1" class="align-center"  #passcode2 (keyup)="onKeyUp($event,2)"></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="text" maxlength="1" class="align-center"  #passcode3 (keyup)="onKeyUp($event,3)"></ion-input>
      </ion-item>
      <ion-item class="number-code">
        <ion-input type="text" maxlength="1" class="align-center"  #passcode4 (keyup)="onKeyUp($event,4)"></ion-input>
      </ion-item>
    </div>
    <p class="timer">Tiempo restante <span class="semi-bold">(00:00)</span></p>
  </div>
  
</div>
<div class="onboarding-btn-group">
  <a (click)="PopupCode()" class="link">No me llegó el código</a>
  <div class="btn-round inactivo" (click)="Confirmar()">
    Continuar
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
</ion-footer>