<ion-content center>
  <div class="flex">
    <div class="row">
      <div>
        <img class="logo" src="../../../assets/img/logo-text-negro.svg">
      </div>
      <div>
        <h1>¡Exito Total!</h1>
        <h1>Ya restableciste tu contraseña</h1>
      </div>
      <div>
        <h2>Ahora, volvé a ingresar para iniciar sesion.</h2>
        <h2>como lo hace siempre</h2>
      </div>
      <div>
        <div>
          
        </div>
        <div>
        </div>
        <div class="onboarding-btn-group">
          <div class="btn-round activo" (click)="Ingresar()">
            Ingresar
          </div>
        </div>

      </div>
    </div>
    <div>
      <img src="../../../../assets/Recupero_contraseña – exito.svg">
    </div>
  </div>

</ion-content>