<ion-header class="ion-no-border">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/registro-enespera.svg" alt="">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">Tu proceso de registro
está en espera</h1>
    <p class="align-center">Queremos que disfrutes de todos los beneficios de Efectivo Digital pero primero debemos validar tu identidad. Si ya te contactaron, por favor seguí las indicaciones que recibiste para continuar.</p>
      <h2 class="align-center pt-5">¡Nos vemos pronto!</h2>
  
  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Inicio()">
    Volver al inicio
  </div>
  
</div>
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="1"></ion-progress-bar>
</ion-footer>
