<ion-header class="ion-no-border">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/lostpassword-exito.svg" alt="">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">¡Éxito total!<br>
      Ya restableciste tu contraseña</h1>
    <p class="align-center">Ahora, volvé a ingresar para iniciar sesión como lo hacés siempre.</p>
  
  
</div>
<div class="onboarding-btn-group">
  <div class="btn-round activo" (click)="Ingresar()">
    Ingresar
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="1"></ion-progress-bar>
</ion-footer>
