<ion-content [fullscreen]="false">
  <section class="home-main">
    <div class="contenedor-90">
      <div class="user-header">
        <div class="home-header">
        </div>
        <div class="line">
          <div class="avatar">
            {{iniciales}}
          </div>
          <div class="user-info">
            <span class="bienvenida">Hola,<span class="username"> {{username}}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="mensaje-bienvenida">
      <ion-icon name="wallet-outline"></ion-icon>
      <h1 >{{mensaje}}</h1>
      <div class="onboarding-btn-group" >
        <div class="btn-round activo" (click)="volver()">
          Volver
        </div>
      </div>
      <h2 >¡Es hora de comenzar a hacer efectivo tu efectivo! Cuando lo hagas, acá vas a poder ver
        todos los movimientos que realizaste.</h2>
    </div>
  </section>
</ion-content>