<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="pedir-amigo" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedir a un amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="amigos">
  <div class="contenedor-90">
    <h1>¿A quién querés <br/>pedirle dinero?</h1>
    <p>Seleccioná a las personas desde esta lista o agregalas si no las ves. 
    </p>
    <!-- Modulo de lista de amigos -->

    <ion-searchbar mode="ios" placeholder="Buscar"></ion-searchbar>
    <ion-list class="lista-amigos">
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
      <ion-item class="amigo-wrapper">
        <div class="amigo">
          <div class="avatar-wrapper">
            <div class="avatar">
              RF
            </div>
          </div>
          <div class="info-amigo">
            <h2 class="nombre">Martín Lopez</h2>
            <span class="alias">Trabajo</span>
          </div>
          <div class="icon">
            <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="onboarding-btn-group">
    <a (click)="agregarAmigo()" class="link">Agregar nuevo amigo</a>
    <div (click)="Continuar()" class="btn-round activo">Continuar</div>
  </div>
</ion-content>
