<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Cerrar sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <div class="imagen">
    <img src="assets/img/slider2.jpg" alt="Pedir dinero a un amigo">
  </div>
  <div class="contenedor-90">
    <h1 class="align-center">¿Realmente deseas cerrar sesion? 
    </h1>
    <p class="align-center">Podes ingresar cuando quieras de nuevo
      </p>
      <!-- <h2 class="align-center pt-5">¿Qué preferís hacer?</h2> -->
  </div>
  <div class="onboarding-btn-group">
    <!-- <div class="btn-round activo" (click)="CrearLink();"> Crear link de pago</div> -->
    <div class="btn-round outline" (click)="logout();">Salir</div>
  </div>
</ion-content>