// Imagen
.imagen {
    width: 100%;
    margin: auto;
    animation-name: showup;
    animation-duration: 0.5s;
}
.imagen img {
    max-width: 100%;
    margin: auto;
    display: flex;
}
.procesandofotos-bg {
    background: url('assets/img/camara.svg') 0 40%/100% 45% no-repeat;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.procesandofotos-progress {
    animation-name: girando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.procesandofotos-success,.procesandofotos-error {
    position: relative;
    right: -15%;
    top: 50%;
    animation-name: slideupIcon;
    animation-duration: 1s;

}