<ion-content center>
  <div class="flex">
    <div class="row">
      <div>
        <img class="logo" src="../../../assets/img/logo-text-negro.svg">
      </div>
      <div>
        <h1>¿Olvidaste tu contraseña?</h1>
      </div>
      <div>
        <h1>¡Tranqui, nada está perdido!</h1>
      </div>
      <div>
        <h2>Si olvidaste tu contraseña, te vamos a enviar un código para que puedas restablecerla rápidamente.</h2>
      </div>
      <div>
        <div>
          <div class="option-round full space-between" id="mail" (click)="SeleccionadoMail()">
            <div class="align-center">
              <ion-icon [name]="ToggleIconMail" style="padding-right: 5px;"></ion-icon>{{ofuscar(mail)}}
            </div>
          </div>
          <div class="option-round full space-between" id="telefono" (click)="SeleccionadoTel()">
            <div class="align-center">
              <ion-icon [name]="ToggleIconTel" style="padding-right: 5px;"></ion-icon>{{ofuscar_cel(celular)}}
            </div>
            <span class="telefono">{{telefono}}</span>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div class="onboarding-btn-group">
        <div class="btn-round activo" (click)="EnviarCodigo()" *ngIf="selectTel || selectmail">
          Envíenme el código
        </div>
        <div class="btn-round inactivo" *ngIf="!(selectTel || selectmail)">
          Envíenme el código
        </div>
      </div>

    </div>
    <div>
      <img src="../../../assets/Recupero_contraseña.svg">
    </div>
  </div>


</ion-content>