.flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f6f6f6;
    padding: 5em;
    .logo{
        width: 18em;

    }
    .row{
        display: flex;
        flex-direction: column;
        width: 65%;
    }
}
ion-content{
    background-color: aquamarine;
}