<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="home" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Carga con débito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="ingreso">
  <div class="contenedor-90">
    <h1>¿Qué tarjeta querés usar?</h1>
    <p>Elegí una de las que ya tenés guardada o agregá una nueva. 
    </p>
    <!-- Monto a ingresar -->
    <div class="renglon">
      <span class="leyenda">Monto a ingresar</span>
      <span class="monto">$1000</span>
    </div>
    <div class="renglon">
      <span class="leyenda">Comisión</span>
      <span class="monto">$0.50</span>
    </div>
    <div class="renglon">
      <span class="leyenda">Total a pagar</span>
      <span class="monto">$1000.50</span>
    </div>
  <!-- Modulo seleccionador tarjetas -->
    <div class="seleccionador-tarjeta">
      <div class="tarjeta black">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="tarjeta silver">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="tarjeta gold">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="tarjeta red">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="tarjeta traditional">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="tarjeta white">
        <div class="marca">
          <img src="assets/img/ingreso/tarjetas/visa.svg" alt="Visa Débito"> Débito
        </div>
        <div class="banco">
          <img src="assets/img/ingreso/tarjetas/santander.svg" alt="Santander Rio">
        </div>
        <div class="numeracion"><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="ocultos">**** </span><span class="visibles">3487</span></div>
        <div class="titular">Ricardo Anibal Fort</div>
        <div class="vencimiento">01/22</div>
      </div>
      <div class="saldo-cuenta">
        <h2>Saldo en cuenta</h2>
        <p>$XXX.XX</p>
      </div>
    </div>
  
  
  </div>
  
  <div class="onboarding-btn-group">
  
    <div class="btn-round inactivo" (click)="SeleccionaTarjeta()">Continuar</div>
    
  </div>
</ion-content>
