<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="absolute">
      <ion-back-button defaultHref="IrAtras()" class="small"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
<div class="contenedor-90">
  <h1 class="align-left">
    Continuemos
  </h1>
  <p class="align-left"> Con estos dos datos que falta ya terminamos la primera parte ¡Vas bien!.</p>
 
  <div class="form"> 
    
    <div class="input-container">
      <h2 class="align-left full">¿Cuál es tu número de celular?</h2>
      <ion-item class="fijo" >
        <p #cod_pais>+54</p>
      </ion-item>
      <ion-item class="un-tercio">
        <ion-input class="center" (keypress)="chageFocus($event)" [(ngModel)]="codArea" placeholder="11" (ngModelChange)="validar_celular()" type="tel" maxlength="2"></ion-input>
      </ion-item>
      <ion-item class="mitad">
        <ion-input [(ngModel)]="celular" maxlength=8 (ngModelChange)="validar_celular()" type="tel" placeholder="22334455" #celular></ion-input>
        <ion-icon name="close-circle-sharp" *ngIf="celular &&  errorCel" slot="end" color="danger" class="center"></ion-icon>
        <ion-icon name="checkmark-circle-sharp" *ngIf="celular && !errorCel" slot="end" color="success"></ion-icon>
      </ion-item>
    </div>
    <div class="validationMsg" *ngIf="celular &&  errorCel">
      <div class="msg full danger">
        El número de celular que ingresaste no es válido. Intentá otra vez.
      </div>
    </div>
  </div>
  <div class="input-container">
    <h2 class="align-left full" >¿Cuál es tu Email?</h2>
    
    <ion-item class="full">
      <ion-input type="email"  [(ngModel)]="mail" (ngModelChange)="validar_mail()"></ion-input>
    </ion-item>
  </div>
  <div class="validationMsg" *ngIf="errorMail">
    <div class="msg full danger" >
      Ingresaste un mail que no es válido, Tal vez Tipeaste algo erróneo. Intenta de nuevo.
    </div>
  </div>
</div>
<div class="onboarding-btn-group">
  <div class="btn-round inactivo" *ngIf="!celular || !codArea || errorCel || !mail" >
    Continuar
  </div>
  <div class="btn-round activo" *ngIf="celular && codArea && !errorCel && mail" (click)="ConfirmaSms()">
    Continuar
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.3"></ion-progress-bar>
</ion-footer>